body, html{
	background-color: black;
	font-family: "myFirstFont", monospace;
	color: #04bf00;
	padding: 0;
	margin: 0;
}

body{
	width: 95%;
	font-family: "myFirstFont", monospace;
	margin: 2.5% 2.4%;
	padding-bottom: 5%;
	
}
#p1{
	 font-family: myFirstFont;
	 margin-left: 21%;
	 font-size: 400%;
}

#p2{
	font-size: 100%;
	
}
@font-face {
  font-family: myFirstFont;
  src: url(barcade-brawl.ttf);
}
#title{
	width: 99%;
	margin-left: 1%;
	display: block;
	margin-top: 4%;
	font-size: 120%;
	text-align: center;
	white-space: pre;
	word-wrap: normal;
	color: red;
}
#p{
	height: 5%;
}

.home-links{
	text-decoration: none;
	color: #29B6F6;
	width: 30%;
	margin: 0 auto;
	margin-top: 1%;
	display: block;
	text-align: center;
	border: 1px dashed #29B6F6;
	padding: 1% 0%;
	font-size: 80%;
	font-family: myFirstFont;
	cursor: pointer;
}
.home-links:hover{
	color: #ffd881;
	border: 1px dashed #ffd881;
}
.top-links{
	margin-top: 1%;
	margin-left: 37%;
	width: 25%;
}

.orange {
    color: #fa5c18;
    border: 1px dashed #fa5c18;
}

.lilac {
    color: #edd5cd
    border: 1px dashed #edd5cd;
}

.yellow {
	color: yellow !important;
	border: 1px dashed yellow !important;
}

.light-red {
    color: #d97b7a;
    border: 1px dashed #d97b7a;
}

.cyan {
    color: #7189bf;
    border: 1px dashed #7189bf;
}

.below{
	margin-top: 1%;
}


#register-form{
	margin-top: 3%;
	width: 100%;
	text-align: center;

}
.form-input{
	margin-left: 2%;
	margin-top: 2%;
	display: inline-block;
	padding-left: 1%;
	text-align: left;
	background-color: transparent;
}
.form-input:hover{
	border: 1px dashed #29b6f6;
	color: #29b6f6;
}
.long{
	width: 62.5%;
}

.form-text{
	width: 70%;
	margin-top: 5%;
	margin-left: 15%;
	text-align: center;
	font-size: 130%;
}

.check{
	width: 25%;
	cursor: pointer;
	display: inline-block;
	margin-top: 1%;
	margin-right: 1%;
}
.top{
	margin-top: 5%;
}

.submit-butt{
	border: none;
	background-color: black;
	color: white;
	border: 1px dashed white;
	width: 25%;
	margin-left: 37%;
	margin-top: 6%;
}

@media only screen and (max-width: 1000px) {
	
	body{
		width: 95%;
		border: 1px dashed white;
		margin-left: 2.3%;
	}

	#title{
		width: 100%;
		color: orange;
		font-size: 70%;
		display: block;
	}
		
	.home-links{
		width: 85%;
		margin-left: 7.5%;
		padding: 4% 0%;
		font-size: 100%;
	}

	.form-input{
		width: 90%;
		border-radius: 0px;
		padding: 4% 0 4% 4%;
		margin-top: 3%;
		margin-right: 5%;
		margin-left: 5%;
	}
	.form-text{
		width: 85%;
		margin-left: 7.5%;
		margin-bottom: 9%;
		font-size: 100%
	}

	.check{
		padding-top: 4.5%;
		padding-bottom: 4.5%;
		width: 90%;
		display: block;
		margin: 3.5% 5%; 
	}


	.submit-butt{
		width: 90%;
		margin-left: 5%;
		margin-top: 13%;
	}
	.top-links{
		width: 90%;
		margin-left: 5%;
		margin-top: 3%;
	}
}
