<!DOCTYPE html>
<html>
    <head>
        <title>Interrupt</title>
        <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
        </script>
        <link rel="stylesheet" href="/styles/css/challenge/caesar/style.css">
    </head>
    <body>
        <h1>INTERRUPTOGRAPY</h1>
        <div>
            <textarea id="question" readonly></textarea>
        </div>
        <div>
            <textarea id="clue" readonly></textarea>
        </div>
        <div>
            <textarea id="console">Enter your decrypted message here...</textarea>
        </div>
        <button id="submit">SUBMIT</button>
        <script src="/scripts/challenge/caesar/script.js"></script>
    </body>
</html>