<!DOCTYPE html>
<html>
    <head>
        <title>INTERRUPT</title>
        <link rel="stylesheet" href="/styles/css/challenge/maze/style.css">
    </head>
    <body>
        <h1 style="text-align:center"><span style="color:red;">MAZE </span><span style="color:blue">RUNNER</span></h1>
        <div id="score"></div>
        <script src="/scripts/challenge/maze/script.js"></script>
    </body>
</html>