<!DOCTYPE html>
<html>
    <head>
        <title>Interrupt</title>
        <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
        </script>
        <link rel="stylesheet" href="/styles/css/challenge/ror/style.css">
    </head>
    <body>
        <h1>RAM OR ROM</h1>
        <div id="score"></div>
        <div class="container">
            <div id="cards"></div>
        </div>
        <table cellspacing="10" id="answer">
            
        </table>
        <button id="submit" onclick="check()">Submit</button>
        <script src="/scripts/challenge/ror/script.js"></script>
    </body>
</html>