<!----------------------->
<!-- EVENTS/INDEX.HTML -->
<!-- -------------------->

<!-- This page is inspired by the popular game, 'Snake Xenzia'. -->
<!-- This will feature a snake running around a maze. Once events are hit, information pops up. -->

<!DOCTYPE html>

	<head>
		<title>Events | Interrupt '19</title>
		<meta charset="UTF-8">
		<meta name="description" content="Official Website for SVCE's Interrupt 2k19!">
		<meta name="keywords" content="svce,symposium,cse,interrupt,2019,2k19">
		<meta name="author" content="Arjun Aravind">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link href="/styles/css/events/events.css" rel="stylesheet">
		<link href="/styles/css/events/mobile-events.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>

	<body>

		<!--*************-->
		<!-- TILT SCREEN -->
		<!--*************-->	
		
		<div class="tilt-screen">
			<p><i class="material-icons" style="font-size: 75px;">stay_primary_landscape</i><br>This website is best viewed in landscape mode! Please tilt your phone!</p>
		</div>

		<!--*************-->
		<!-- POPUP BOXES -->
		<!--*************-->

		<!-- The popup for the events page. -->
		<div id="snake-popup">
		
			<header>ONLINE EVENTS</header>

			<button id='closeButton'>Close</button>
			<a href='/register'><button id='registerButton'>Register</button></a>

			<!-- Each 'event' div contains the details of one event. -->
			<div class="event">
				<header>PRESENTATION NATION (INTER-COLLEGE)</header>
				<p><span>Description: </span>This is where your ideas come to life! Interrupt '19 is proud to present, Presentation Nation, a platform where you get the opportunity to showcase your innovating and research skills. Pen down your most creative ideas, submit a paper and present an intriguing presentation on it. Impress, inspire and you'll stand a chance to grab the prize!<br><br>The topics are :- IoT, Cloud Security and Privacy, Virtualisation, HPC on Cloud, Honeypot, Wireless Communication Systems, Bluetooth Technology, Data Management and Sensor Networks, Speech Signal Analysis by Signal Processing, Data Security using Neural Networks, Big Data Analytics, MapReduce, Big Data Search and Mining, Big Data Security and Privacy.</p>
				<p><span>Rules: </span>Teams of 3.<br>The presentation time for each team will be 15 minutes.<br>Judgement criteria will be based on presentation, innovation and technicality involved in the project.<br>The papers should be in the IEEE format.<br>Participants should bring their paper in PDF or Word format in a pendrive.<br>Jury's decision is final.<br>The final paper has to be submitted by 9PM on 23rd September 2019 to interrupt2k19@gmail.com</p>
				<p><span>Deadline: </span>9PM, 23rd September 2019</p>
				<p><span>Contact: </span>Ajay Saba - 9488821895</p>
			</div>

			<!--------------------->
			<!-- The next event. -->
			<!--------------------->
			<div class="event">
				<header>POSTER COASTER (INTER-COLLEGE)</header>
				<p><span>Description: </span>Poster Coaster, a poster presentation event which subtly persuades the participants to rattle their brains and come up with ideas! Here is the chance to bring out the power of the days you spent pondering over mind boggling ideas. So unveil your innovative minds and be among many to show the talent you possess.</p>
				<p><span>Rules: </span>Team of 2.<br>Presentation time for each team is 10 minutes.<br>The judgement criteria will be based on originality, creativity and clarity.<br>Participants should bring the poster in pdf/jpg/png format in a pendrive.<br>Jury's decision is final.<br>The idea abstract for the event has to be submitted by 9PM on 23rd September 2019 to interrupt2k19@gmail.com</p>
				<p><span>Deadline: </span>9PM, 23rd September 2019</p>
				<p><span>Contact: </span>Sumneeth - 9786691724</p>
			</div>

			<!--------------------->
			<!-- The next event. -->
			<!--------------------->	
			<div class="event">
				<header>MINDSPAR (INTER-COLLEGE)</header>
				<p><span>Description: </span>Are you an intellect ready for sparring with your opponent in a battle of words? Here's the perfect opportunity to bring out the orator in you! Talk your way through the event and impress the panel with your technical and oratory skills! Hurry up and register to showcase your talent! The topic for the event will be given on the spot.</p>
				<p><span>Rules: </span>Individual participation only.<br>Time limit should not be exceeded.<br>Decorum must be maintained at all times.<br>Judgement criteria will be based on presentation, technical points and coherence.<br>Jury's decsion is final.</p>
				<p><span>Contact: </span>Anan - 9884613747, Vaishali - 8825579092</p>
			</div>

			<!--------------------->
			<!-- The next event. -->
			<!--------------------->
			<div class="event">
				<header>ALT + TAB + TECH (INTER-COLLEGE)</header>
				<p><span>Description: </span>Modern problems require modern solutions. Alt+Tab+Tech is an event for all the quick-witted innovators out there! Think on your feet and switch between technologies and ideas to provide solutions to brain-wracking problems. In the first round, test your team's connectivity through a fun game and win a trump card that will influence your performance in the second round. Go on to provide solutions to the problem statements based on the domains you get according to a round-robin basis.</p>
				<p><span>Rules: </span>Team of 2.<br>Solutions maybe pictorial or abstract or algorithm<br>Judgement criteria is based on presentation, innnovation and technicality involved in the solution.<br>Jury's decision is final.</p>
				<p><span>Contact: </span>Barath - 9884630716, Seshai Hari - 6382118062</p>
			</div>

			<!--------------------->
			<!-- The next event. -->
			<!--------------------->
			<div class="event">
				<header>STACK MARKET (INTER-COLLEGE) </header>
				<p><span>Description: </span>Can you code efficiently? Is your code optimal? test your skills here! Code your way through this online event by buying keywords. But beware! Spend your points wisely. Ready to code? Then head over to the Stack Market! Stack Market is an offline problem solving event. But with a twist! Play a fun game and earn cash. In the next round, buy keywords for your program using the cash earned. The person with the highest cash remaining wins.</p>
				<p><span>Rules: </span>Teams of 2.<br>Internet and workstation will be provided.<br>Internet surfing is not allowed.<br>Programming language to be used is C++.<br>Total score of each participant will be the cumulative points from all rounds.<br>In the case of a tie, the team which completed the event earlier will be announced the winner.</p>
				<p id="online-events"><span>Contact: </span>Sujith - 6380592928, Sree Vishal - 7358499668</p>
			</div>
	
			<h3>ONLINE EVENTS</h3>

			<!--------------------->
			<!-- The next event. -->
			<!--------------------->	
			<div class="event">
				<header>CODE CONNOISSEUR (INTER-COLLEGE)</header>
				<p><span>Description: </span>Were you waiting for the full on nail biting coding event as always? Well, it's here and now you can put your hard acquired expertise in coding to action. Interrupt 19's Code Connoisseur is an online mainstream coding event where you can code to your heart's content and go from one level to the next. Think and wrack your brains for this one! 
</p>
				<p><span>Rules: </span>Individual participation only.<br>Participation will be live online.<br>Points will be awarded for each level cleared.<br>Total score of each participant will be the cummulated points from all rounds.<br>In case of a tie, participant who completed the rounds earlier will be announced the winner on Interrupt'19.<br>Participant must be a student currently pursuing a college degree and will be required to submit their college ID card upon winning.<br>Winners will have to come to Sri Venkateswara college of engineering to collect their prize on the 25th of September, 2019.</p>
				<p><span>Held On:</span> Saturday and Sunday(21st and 22nd of September)</p>
				<p><span>Contact: </span>Soorya - +918940244971</p>
			</div>
		
			<!--------------------->
			<!-- The next event. -->
			<!--------------------->
			<div class="event">
				<header>INTERRUPT CHALLENGE V2.0 (INTER-COLLEGE)</header>
				<p><span>Description: </span>Here's something fun yet challenging for all the cool nerds out there. Our trademark event Interrupt challenge 2.0 is what you need to look out for! Find the hidden clue in each level to progress to the next. It's engaging, its fun and it'll help unleash the inner genius in you!</p>
				<p><span>Rules: </span>Individual participation only.<br>Participation will be live online.<br>Participants cannot register more than once.<br>Originality of username at registration is appreciated.<br>In case of a tie, participant who completes earlier will be announced the winner on Interrupt'19.<br>Participant must be a student currently pursuing a college degree and will be required to submit their college ID card upon winning .<br>Winners will have to come to Sri Venkateswara college of engineering to collect their prize on the 25th of September, 2019.</p>
				<p><span>Held On:</span> Saturday and Sunday(21st and 22nd of September)</p>
				<p id="coding-events"><span>Contact: </span>Sai Harshith - 6383552605</p>
			</div>

			<h3>CODING EVENTS</h3>

			<!--------------------->
			<!-- The next event. -->
			<!--------------------->
			<div class="event">
				<header>GAME OF <'TAGS'> (INTRA-COLLEGE)</header>
				<p><span>Description: </span>For those who love front-end, here is a chance to showcase your talent. We bring you, the Game of <Tags>. Showcase your web design skills at this fun event! Design the most attractive website using UX/UI and make even Charlotte envy your web!</p>
				<p><span>Rules: </span>Team of either 1 or 2 members.<br>The event will be conducted for 6 consecutive hours on the day of the symposium. <br>Participants must bring their own laptops.<br>The website or webpage should be designed on the common theme which will be announced on the spot.<br>Entries must be submitted within the given time limit.<br>The participants with the highest number of votes will be announced the winners.</p>
				<p><span>Contact: </span>Yuvaraj - 8946083003, Shriram SJ - 9952070437</p>
			</div>

			<!--------------------->
			<!-- The next event. -->
			<!--------------------->
			<div class="event">
				<header>NOW YOU C ME (INTRA-COLLEGE)</header>
				<p><span>Description: </span>Love mysteries and solving puzzles? Do you also love coding? Look no futher. Awaken your inner Sherlock and demystify error-ridden codes. Debug programs and assemble jumbled up codes to earn pieces of a puzzle which will ultimately reveal the bigger picture!</p>
				<p><span>Rules: </span>Team of two. <br>Internet and workstation will be provided.<br>Programming language used is C++.<br>Total score of each participant will be the cumulative points from all rounds.<br>In case of a tie, the team which completed the rounds earlier will be announced the winner.</p>
				<p><span>Contact: </span>Jyostna - 9566964383, Adarshya - 7092738888</p>
			</div>
		
			<!--------------------->
			<!-- The next event. -->
			<!--------------------->
			<div class="event">
				<header>MINI PROJECT (INTRA-COLLEGE)</header>
				<p><span>Description: </span>Looking for a way to kickstart your first project? Or are you looking for an opportunity to start a new one? Interrupt 19's Mini Project contest has set the stage for you! Display your project, a result of endless coding, designing, teamwork and dedication. Learn new concepts, explore blooming domains and with the help of your mentors, bring us the fruit of your labours and claim your prize!</p>
				<p><span>Rules: </span>Team of 3.<br>Judgement criteria will be based on creativity, presentation, innovation and implementation.<br>Jury’s decision will be final.</p>
				<p><span>Contact: </span>Sai Harshith - 6383552605</p>
			</div>
		
			<!--------------------->
			<!-- The next event. -->
			<!--------------------->
			<div class="event">
				<header>Win-Code-ium Leviosa (INTRA-COLLEGE)</header>
				<p><span>Description: </span>Feeling like you just took a swig out of a vial of Felix Felicis? Or maybe feeling like you just found a four-leaved clover? 
Head on over to 'Win-code-ium Leviosa' and take a shot to find out if your luck trumps your skill or your skill which trumps your luck. May the odds be ever in your favour!</p>
				<p><span>Rules: </span>Individual participation only.<br>Jury’s decision will be final.<br>Come unlock the surprises.</p>
				<p><span>Contact: </span>Aravind Balakrishnan - 9940261858, Haris - 8056214824</p>
			</div>
		</div>


		<!--*************-->
		<!-- RULES POPUP -->
		<!--*************-->

		<!-- This popup will contain rules/tips to understand the web page. -->
		<div id="rules-popup">

			<header>HOW TO PLAY</header>
			<button id="rules-close">PRESS SPACE TO CLOSE</button>

			<p><span>1.</span> Use the arrow keys to control the snake's direction. </p>
			<p><span>2.</span> Navigate the snake onto the icons to get information about events. You can also click the icons.</p>
			<p><span>3.</span> For a surprise, navigate the snake to eat the <i class="material-icons">sports_esports</i> which appears randomly on the screen! <span>Can you get the high score?</span></p>

		</div>
		

		<!--********-->
		<!-- HEADER -->
		<!--********-->

		<!-- The header for the events page. -->
		<p class="snake-headers" id="snake-header">EVENTS</p>
		<p class="snake-headers" id="snake-score">00</p>

		<!--******************-->
		<!-- SNAKE XENZIA GAME-->
		<!--******************-->

		<!-- We will have to build a pixelated screen. The snake is made of coloured pixels. -->
		<!-- Each 'pixel' will actually be a div. -->

		<!-- This div will contain the divs necessary. -->
		<div class="snake-xenzia" id="snake-xenzia">

			<div class='pixels' 
			id='pixel-1'></div><div class='pixels' 
			id='pixel-2'></div><div class='pixels' 
			id='pixel-3'></div><div class='pixels' 
			id='pixel-4'></div><div class='pixels' 
			id='pixel-5'></div><div class='pixels' 
			id='pixel-6'></div><div class='pixels' 
			id='pixel-7'></div><div class='pixels' 
			id='pixel-8'></div><div class='pixels' 
			id='pixel-9'></div><div class='pixels' 
			id='pixel-10'></div><div class='pixels' 
			id='pixel-11'></div><div class='pixels' 
			id='pixel-12'></div><div class='pixels' 
			id='pixel-13'></div><div class='pixels' 
			id='pixel-14'></div><div class='pixels' 
			id='pixel-15'></div><div class='pixels' 
			id='pixel-16'></div><div class='pixels' 
			id='pixel-17'></div><div class='pixels' 
			id='pixel-18'></div><div class='pixels' 
			id='pixel-19'></div><div class='pixels' 
			id='pixel-20'></div><div class='pixels' 
			id='pixel-21'></div><div class='pixels' 
			id='pixel-22'></div><div class='pixels' 
			id='pixel-23'></div><div class='pixels' 
			id='pixel-24'></div><div class='pixels' 
			id='pixel-25'></div><div class='pixels' 
			id='pixel-26'></div><div class='pixels' 
			id='pixel-27'></div><div class='pixels' 
			id='pixel-28'></div><div class='pixels' 
			id='pixel-29'></div><div class='pixels' 
			id='pixel-30'></div><div class='pixels' 
			id='pixel-31'></div><div class='pixels' 
			id='pixel-32'></div><div class='pixels' 
			id='pixel-33'></div><div class='pixels' 
			id='pixel-34'></div><div class='pixels' 
			id='pixel-35'></div><div class='pixels' 
			id='pixel-36'></div><div class='pixels' 
			id='pixel-37'></div><div class='pixels' 
			id='pixel-38'></div><div class='pixels' 
			id='pixel-39'></div><div class='pixels' 
			id='pixel-40'></div><div class='pixels' 
			id='pixel-41'></div><div class='pixels' 
			id='pixel-42'></div><div class='pixels' 
			id='pixel-43'></div><div class='pixels' 
			id='pixel-44'></div><div class='pixels' 
			id='pixel-45'></div><div class='pixels' 
			id='pixel-46'></div><div class='pixels' 
			id='pixel-47'></div><div class='pixels' 
			id='pixel-48'></div><div class='pixels' 
			id='pixel-49'></div><div class='pixels' 
			id='pixel-50'></div><div class='pixels' 
			id='pixel-51'></div><div class='pixels' 
			id='pixel-52'></div><div class='pixels' 
			id='pixel-53'></div><div class='pixels' 
			id='pixel-54'></div><div class='pixels' 
			id='pixel-55'></div><div class='pixels' 
			id='pixel-56'></div><div class='pixels' 
			id='pixel-57'></div><div class='pixels' 
			id='pixel-58'></div><div class='pixels' 
			id='pixel-59'></div><div class='pixels' 
			id='pixel-60'></div><div class='pixels' 
			id='pixel-61'></div><div class='pixels' 
			id='pixel-62'></div><div class='pixels' 
			id='pixel-63'></div><div class='pixels' 
			id='pixel-64'></div><div class='pixels' 
			id='pixel-65'></div><div class='pixels' 
			id='pixel-66'></div><div class='pixels' 
			id='pixel-67'></div><div class='pixels' 
			id='pixel-68'></div><div class='pixels' 
			id='pixel-69'></div><div class='pixels' 
			id='pixel-70'></div><div class='pixels' 
			id='pixel-71'></div><div class='pixels' 
			id='pixel-72'></div><div class='pixels' 
			id='pixel-73'></div><div class='pixels' 
			id='pixel-74'></div><div class='pixels' 
			id='pixel-75'></div><div class='pixels' 
			id='pixel-76'></div><div class='pixels' 
			id='pixel-77'></div><div class='pixels' 
			id='pixel-78'></div><div class='pixels' 
			id='pixel-79'></div><div class='pixels' 
			id='pixel-80'></div><div class='pixels' 
			id='pixel-81'></div><div class='pixels' 
			id='pixel-82'></div><div class='pixels' 
			id='pixel-83'></div><div class='pixels' 
			id='pixel-84'></div><div class='pixels' 
			id='pixel-85'></div><div class='pixels' 
			id='pixel-86'></div><div class='pixels' 
			id='pixel-87'></div><div class='pixels' 
			id='pixel-88'></div><div class='pixels' 
			id='pixel-89'></div><div class='pixels' 
			id='pixel-90'></div><div class='pixels' 
			id='pixel-91'></div><div class='pixels' 
			id='pixel-92'></div><div class='pixels' 
			id='pixel-93'></div><div class='pixels' 
			id='pixel-94'></div><div class='pixels' 
			id='pixel-95'></div><div class='pixels' 
			id='pixel-96'></div><div class='pixels' 
			id='pixel-97'></div><div class='pixels' 
			id='pixel-98'></div><div class='pixels' 
			id='pixel-99'></div><div class='pixels' 
			id='pixel-100'></div><div class='pixels' 
			id='pixel-101'></div><div class='pixels' 
			id='pixel-102'></div><div class='pixels' 
			id='pixel-103'></div><div class='pixels' 
			id='pixel-104'></div><div class='pixels' 
			id='pixel-105'></div><div class='pixels' 
			id='pixel-106'></div><div class='pixels' 
			id='pixel-107'></div><div class='pixels' 
			id='pixel-108'></div><div class='pixels' 
			id='pixel-109'></div><div class='pixels' 
			id='pixel-110'></div><div class='pixels' 
			id='pixel-111'></div><div class='pixels' 
			id='pixel-112'></div><div class='pixels' 
			id='pixel-113'></div><div class='pixels' 
			id='pixel-114'></div><div class='pixels' 
			id='pixel-115'></div><div class='pixels' 
			id='pixel-116'></div><div class='pixels' 
			id='pixel-117'></div><div class='pixels' 
			id='pixel-118'></div><div class='pixels' 
			id='pixel-119'></div><div class='pixels' 
			id='pixel-120'></div><div class='pixels' 
			id='pixel-121'></div><div class='pixels' 
			id='pixel-122'></div><div class='pixels' 
			id='pixel-123'></div><div class='pixels' 
			id='pixel-124'></div><div class='pixels' 
			id='pixel-125'></div><div class='pixels' 
			id='pixel-126'></div><div class='pixels' 
			id='pixel-127'></div><div class='pixels' 
			id='pixel-128'></div><div class='pixels' 
			id='pixel-129'></div><div class='pixels' 
			id='pixel-130'></div><div class='pixels' 
			id='pixel-131'></div><div class='pixels' 
			id='pixel-132'></div><div class='pixels' 
			id='pixel-133'>
				<a href="#" class="event-links">
					<i class='material-icons event-four'>code</i>
				</a>
			</div><div class='pixels' 
			id='pixel-134'></div><div class='pixels' 
			id='pixel-135'></div><div class='pixels' 
			id='pixel-136'></div><div class='pixels' 
			id='pixel-137'></div><div class='pixels' 
			id='pixel-138'></div><div class='pixels' 
			id='pixel-139'></div><div class='pixels' 
			id='pixel-140'></div><div class='pixels' 
			id='pixel-141'></div><div class='pixels' 
			id='pixel-142'></div><div class='pixels' 
			id='pixel-143'></div><div class='pixels' 
			id='pixel-144'></div><div class='pixels' 
			id='pixel-145'></div><div class='pixels' 
			id='pixel-146'></div><div class='pixels' 
			id='pixel-147'></div><div class='pixels' 
			id='pixel-148'></div><div class='pixels' 
			id='pixel-149'></div><div class='pixels' 
			id='pixel-150'></div><div class='pixels' 
			id='pixel-151'></div><div class='pixels' 
			id='pixel-152'></div><div class='pixels' 
			id='pixel-153'></div><div class='pixels' 
			id='pixel-154'></div><div class='pixels' 
			id='pixel-155'></div><div class='pixels' 
			id='pixel-156'></div><div class='pixels' 
			id='pixel-157'></div><div class='pixels' 
			id='pixel-158'></div><div class='pixels' 
			id='pixel-159'></div><div class='pixels' 
			id='pixel-160'></div><div class='pixels' 
			id='pixel-161'></div><div class='pixels' 
			id='pixel-162'></div><div class='pixels' 
			id='pixel-163'></div><div class='pixels' 
			id='pixel-164'></div><div class='pixels' 
			id='pixel-165'></div><div class='pixels' 
			id='pixel-166'></div><div class='pixels' 
			id='pixel-167'></div><div class='pixels' 
			id='pixel-168'></div><div class='pixels' 
			id='pixel-169'></div><div class='pixels' 
			id='pixel-170'></div><div class='pixels' 
			id='pixel-171'></div><div class='pixels' 
			id='pixel-172'></div><div class='pixels' 
			id='pixel-173'></div><div class='pixels' 
			id='pixel-174'></div><div class='pixels' 
			id='pixel-175'></div><div class='pixels' 
			id='pixel-176'></div><div class='pixels' 
			id='pixel-177'></div><div class='pixels' 
			id='pixel-178'></div><div class='pixels' 
			id='pixel-179'></div><div class='pixels' 
			id='pixel-180'></div><div class='pixels' 
			id='pixel-181'></div><div class='pixels' 
			id='pixel-182'></div><div class='pixels' 
			id='pixel-183'></div><div class='pixels' 
			id='pixel-184'></div><div class='pixels' 
			id='pixel-185'></div><div class='pixels' 
			id='pixel-186'></div><div class='pixels' 
			id='pixel-187'>
				<a href="#" class="event-links">
					<i class='material-icons event-three'>menu_book</i>
				</a>
			</div><div class='pixels' 
			id='pixel-188'></div><div class='pixels' 
			id='pixel-189'></div><div class='pixels' 
			id='pixel-190'></div><div class='pixels' 
			id='pixel-191'></div><div class='pixels' 
			id='pixel-192'></div><div class='pixels' 
			id='pixel-193'></div><div class='pixels' 
			id='pixel-194'></div><div class='pixels' 
			id='pixel-195'></div><div class='pixels' 
			id='pixel-196'></div><div class='pixels' 
			id='pixel-197'></div><div class='pixels' 
			id='pixel-198'></div><div class='pixels' 
			id='pixel-199'></div><div class='pixels' 
			id='pixel-200'></div><div class='pixels' 
			id='pixel-201'></div><div class='pixels' 
			id='pixel-202'></div><div class='pixels' 
			id='pixel-203'></div><div class='pixels' 
			id='pixel-204'></div><div class='pixels' 
			id='pixel-205'></div><div class='pixels' 
			id='pixel-206'></div><div class='pixels' 
			id='pixel-207'></div><div class='pixels' 
			id='pixel-208'></div><div class='pixels' 
			id='pixel-209'></div><div class='pixels' 
			id='pixel-210'></div><div class='pixels' 
			id='pixel-211'></div><div class='pixels' 
			id='pixel-212'></div><div class='pixels' 
			id='pixel-213'></div><div class='pixels' 
			id='pixel-214'></div><div class='pixels' 
			id='pixel-215'></div><div class='pixels' 
			id='pixel-216'></div><div class='pixels' 
			id='pixel-217'></div><div class='pixels' 
			id='pixel-218'></div><div class='pixels' 
			id='pixel-219'></div><div class='pixels' 
			id='pixel-220'></div><div class='pixels' 
			id='pixel-221'></div><div class='pixels' 
			id='pixel-222'></div><div class='pixels' 
			id='pixel-223'></div><div class='pixels' 
			id='pixel-224'></div><div class='pixels' 
			id='pixel-225'></div><div class='pixels' 
			id='pixel-226'></div><div class='pixels' 
			id='pixel-227'></div><div class='pixels' 
			id='pixel-228'></div><div class='pixels' 
			id='pixel-229'></div><div class='pixels' 
			id='pixel-230'></div><div class='pixels' 
			id='pixel-231'></div><div class='pixels' 
			id='pixel-232'></div><div class='pixels' 
			id='pixel-233'></div><div class='pixels' 
			id='pixel-234'></div><div class='pixels' 
			id='pixel-235'></div><div class='pixels' 
			id='pixel-236'></div><div class='pixels' 
			id='pixel-237'></div><div class='pixels' 
			id='pixel-238'></div><div class='pixels' 
			id='pixel-239'></div><div class='pixels' 
			id='pixel-240'></div><div class='pixels' 
			id='pixel-241'></div><div class='pixels' 
			id='pixel-242'></div><div class='pixels' 
			id='pixel-243'></div><div class='pixels' 
			id='pixel-244'></div><div class='pixels' 
			id='pixel-245'></div><div class='pixels' 
			id='pixel-246'></div><div class='pixels' 
			id='pixel-247'></div><div class='pixels' 
			id='pixel-248'></div><div class='pixels' 
			id='pixel-249'></div><div class='pixels' 
			id='pixel-250'></div><div class='pixels' 
			id='pixel-251'></div><div class='pixels' 
			id='pixel-252'></div><div class='pixels' 
			id='pixel-253'></div><div class='pixels' 
			id='pixel-254'></div><div class='pixels' 
			id='pixel-255'></div><div class='pixels' 
			id='pixel-256'></div><div class='pixels' 
			id='pixel-257'></div><div class='pixels' 
			id='pixel-258'></div><div class='pixels' 
			id='pixel-259'></div><div class='pixels' 
			id='pixel-260'></div><div class='pixels' 
			id='pixel-261'></div><div class='pixels' 
			id='pixel-262'></div><div class='pixels' 
			id='pixel-263'></div><div class='pixels' 
			id='pixel-264'></div><div class='pixels' 
			id='pixel-265'></div><div class='pixels' 
			id='pixel-266'></div><div class='pixels' 
			id='pixel-267'></div><div class='pixels' 
			id='pixel-268'></div><div class='pixels' 
			id='pixel-269'></div><div class='pixels' 
			id='pixel-270'></div><div class='pixels' 
			id='pixel-271'></div><div class='pixels' 
			id='pixel-272'></div><div class='pixels' 
			id='pixel-273'></div><div class='pixels' 
			id='pixel-274'></div><div class='pixels' 
			id='pixel-275'></div><div class='pixels' 
			id='pixel-276'></div><div class='pixels' 
			id='pixel-277'></div><div class='pixels' 
			id='pixel-278'></div><div class='pixels' 
			id='pixel-279'></div><div class='pixels' 
			id='pixel-280'></div><div class='pixels' 
			id='pixel-281'></div><div class='pixels' 
			id='pixel-282'></div><div class='pixels' 
			id='pixel-283'></div><div class='pixels' 
			id='pixel-284'></div><div class='pixels' 
			id='pixel-285'></div><div class='pixels' 
			id='pixel-286'></div><div class='pixels' 
			id='pixel-287'></div><div class='pixels' 
			id='pixel-288'></div><div class='pixels' 
			id='pixel-289'></div><div class='pixels' 
			id='pixel-290'></div><div class='pixels' 
			id='pixel-291'></div><div class='pixels' 
			id='pixel-292'></div><div class='pixels' 
			id='pixel-293'></div><div class='pixels' 
			id='pixel-294'></div><div class='pixels' 
			id='pixel-295'></div><div class='pixels' 
			id='pixel-296'></div><div class='pixels' 
			id='pixel-297'></div><div class='pixels' 
			id='pixel-298'></div><div class='pixels' 
			id='pixel-299'></div><div class='pixels' 
			id='pixel-300'></div><div class='pixels' 
			id='pixel-301'></div><div class='pixels' 
			id='pixel-302'></div><div class='pixels' 
			id='pixel-303'></div><div class='pixels' 
			id='pixel-304'></div><div class='pixels' 
			id='pixel-305'></div><div class='pixels' 
			id='pixel-306'></div><div class='pixels' 
			id='pixel-307'></div><div class='pixels' 
			id='pixel-308'></div><div class='pixels' 
			id='pixel-309'></div><div class='pixels' 
			id='pixel-310'></div><div class='pixels' 
			id='pixel-311'></div><div class='pixels' 
			id='pixel-312'></div><div class='pixels' 
			id='pixel-313'></div><div class='pixels' 
			id='pixel-314'></div><div class='pixels' 
			id='pixel-315'></div><div class='pixels' 
			id='pixel-316'></div><div class='pixels' 
			id='pixel-317'></div><div class='pixels' 
			id='pixel-318'></div><div class='pixels' 
			id='pixel-319'></div><div class='pixels' 
			id='pixel-320'></div><div class='pixels' 
			id='pixel-321'></div><div class='pixels' 
			id='pixel-322'></div><div class='pixels' 
			id='pixel-323'></div><div class='pixels' 
			id='pixel-324'></div><div class='pixels' 
			id='pixel-325'></div><div class='pixels' 
			id='pixel-326'></div><div class='pixels' 
			id='pixel-327'>
				<a href="/">
					<i class='material-icons event-one'>home</i>
				</a>
			</div><div class='pixels' 
			id='pixel-328'></div><div class='pixels' 
			id='pixel-329'></div><div class='pixels' 
			id='pixel-330'></div><div class='pixels' 
			id='pixel-331'></div><div class='pixels' 
			id='pixel-332'></div><div class='pixels' 
			id='pixel-333'></div><div class='pixels' 
			id='pixel-334'></div><div class='pixels' 
			id='pixel-335'></div><div class='pixels' 
			id='pixel-336'></div><div class='pixels' 
			id='pixel-337'></div><div class='pixels' 
			id='pixel-338'></div><div class='pixels' 
			id='pixel-339'></div><div class='pixels' 
			id='pixel-340'></div><div class='pixels' 
			id='pixel-341'></div><div class='pixels' 
			id='pixel-342'></div><div class='pixels' 
			id='pixel-343'></div><div class='pixels' 
			id='pixel-344'></div><div class='pixels' 
			id='pixel-345'></div><div class='pixels' 
			id='pixel-346'></div><div class='pixels' 
			id='pixel-347'></div><div class='pixels' 
			id='pixel-348'></div><div class='pixels' 
			id='pixel-349'></div><div class='pixels' 
			id='pixel-350'></div><div class='pixels' 
			id='pixel-351'></div><div class='pixels' 
			id='pixel-352'></div><div class='pixels' 
			id='pixel-353'></div><div class='pixels' 
			id='pixel-354'></div><div class='pixels' 
			id='pixel-355'></div><div class='pixels' 
			id='pixel-356'></div><div class='pixels' 
			id='pixel-357'></div><div class='pixels' 
			id='pixel-358'></div><div class='pixels' 
			id='pixel-359'></div><div class='pixels' 
			id='pixel-360'></div><div class='pixels' 
			id='pixel-361'></div><div class='pixels' 
			id='pixel-362'></div><div class='pixels' 
			id='pixel-363'></div><div class='pixels' 
			id='pixel-364'></div><div class='pixels' 
			id='pixel-365'></div><div class='pixels' 
			id='pixel-366'></div><div class='pixels' 
			id='pixel-367'></div><div class='pixels' 
			id='pixel-368'></div><div class='pixels' 
			id='pixel-369'></div><div class='pixels' 
			id='pixel-370'></div><div class='pixels' 
			id='pixel-371'></div><div class='pixels' 
			id='pixel-372'></div><div class='pixels' 
			id='pixel-373'></div><div class='pixels' 
			id='pixel-374'></div><div class='pixels' 
			id='pixel-375'></div><div class='pixels' 
			id='pixel-376'></div><div class='pixels' 
			id='pixel-377'></div><div class='pixels' 
			id='pixel-378'></div><div class='pixels' 
			id='pixel-379'></div><div class='pixels' 
			id='pixel-380'></div><div class='pixels' 
			id='pixel-381'></div><div class='pixels' 
			id='pixel-382'></div><div class='pixels' 
			id='pixel-383'></div><div class='pixels' 
			id='pixel-384'></div><div class='pixels' 
			id='pixel-385'></div><div class='pixels' 
			id='pixel-386'></div><div class='pixels' 
			id='pixel-387'></div><div class='pixels' 
			id='pixel-388'></div><div class='pixels' 
			id='pixel-389'></div><div class='pixels' 
			id='pixel-390'></div><div class='pixels' 
			id='pixel-391'></div><div class='pixels' 
			id='pixel-392'></div><div class='pixels' 
			id='pixel-393'></div><div class='pixels' 
			id='pixel-394'></div><div class='pixels' 
			id='pixel-395'></div><div class='pixels' 
			id='pixel-396'></div><div class='pixels' 
			id='pixel-397'></div><div class='pixels' 
			id='pixel-398'></div><div class='pixels' 
			id='pixel-399'></div><div class='pixels' 
			id='pixel-400'></div><div class='pixels' 
			id='pixel-401'></div><div class='pixels' 
			id='pixel-402'></div><div class='pixels' 
			id='pixel-403'></div><div class='pixels' 
			id='pixel-404'></div><div class='pixels' 
			id='pixel-405'></div><div class='pixels' 
			id='pixel-406'></div><div class='pixels' 
			id='pixel-407'></div><div class='pixels' 
			id='pixel-408'></div><div class='pixels' 
			id='pixel-409'></div><div class='pixels' 
			id='pixel-410'></div><div class='pixels' 
			id='pixel-411'></div><div class='pixels' 
			id='pixel-412'></div><div class='pixels' 
			id='pixel-413'></div><div class='pixels' 
			id='pixel-414'></div><div class='pixels' 
			id='pixel-415'></div><div class='pixels' 
			id='pixel-416'></div><div class='pixels' 
			id='pixel-417'></div><div class='pixels' 
			id='pixel-418'></div><div class='pixels' 
			id='pixel-419'></div><div class='pixels' 
			id='pixel-420'></div><div class='pixels' 
			id='pixel-421'></div><div class='pixels' 
			id='pixel-422'></div><div class='pixels' 
			id='pixel-423'></div><div class='pixels' 
			id='pixel-424'></div><div class='pixels' 
			id='pixel-425'></div><div class='pixels' 
			id='pixel-426'></div><div class='pixels' 
			id='pixel-427'></div><div class='pixels' 
			id='pixel-428'></div><div class='pixels' 
			id='pixel-429'></div><div class='pixels' 
			id='pixel-430'></div><div class='pixels' 
			id='pixel-431'></div><div class='pixels' 
			id='pixel-432'></div><div class='pixels' 
			id='pixel-433'></div><div class='pixels' 
			id='pixel-434'></div><div class='pixels' 
			id='pixel-435'></div><div class='pixels' 
			id='pixel-436'></div><div class='pixels' 
			id='pixel-437'></div><div class='pixels' 
			id='pixel-438'></div><div class='pixels' 
			id='pixel-439'></div><div class='pixels' 
			id='pixel-440'></div><div class='pixels' 
			id='pixel-441'></div><div class='pixels' 
			id='pixel-442'></div><div class='pixels' 
			id='pixel-443'></div><div class='pixels' 
			id='pixel-444'></div><div class='pixels' 
			id='pixel-445'></div><div class='pixels' 
			id='pixel-446'></div><div class='pixels' 
			id='pixel-447'></div><div class='pixels' 
			id='pixel-448'></div><div class='pixels' 
			id='pixel-449'></div><div class='pixels' 
			id='pixel-450'></div><div class='pixels' 
			id='pixel-451'></div><div class='pixels' 
			id='pixel-452'></div><div class='pixels' 
			id='pixel-453'></div><div class='pixels' 
			id='pixel-454'></div><div class='pixels' 
			id='pixel-455'></div><div class='pixels' 
			id='pixel-456'></div><div class='pixels' 
			id='pixel-457'></div><div class='pixels' 
			id='pixel-458'></div><div class='pixels' 
			id='pixel-459'></div><div class='pixels' 
			id='pixel-460'></div><div class='pixels' 
			id='pixel-461'></div><div class='pixels' 
			id='pixel-462'></div><div class='pixels' 
			id='pixel-463'></div><div class='pixels' 
			id='pixel-464'></div><div class='pixels' 
			id='pixel-465'></div><div class='pixels' 
			id='pixel-466'></div><div class='pixels' 
			id='pixel-467'></div><div class='pixels' 
			id='pixel-468'></div><div class='pixels' 
			id='pixel-469'></div><div class='pixels' 
			id='pixel-470'></div><div class='pixels' 
			id='pixel-471'></div><div class='pixels' 
			id='pixel-472'></div><div class='pixels' 
			id='pixel-473'></div><div class='pixels' 
			id='pixel-474'></div><div class='pixels' 
			id='pixel-475'></div><div class='pixels' 
			id='pixel-476'></div><div class='pixels' 
			id='pixel-477'></div><div class='pixels' 
			id='pixel-478'></div><div class='pixels' 
			id='pixel-479'></div><div class='pixels' 
			id='pixel-480'></div><div class='pixels' 
			id='pixel-481'></div><div class='pixels' 
			id='pixel-482'></div><div class='pixels' 
			id='pixel-483'></div><div class='pixels' 
			id='pixel-484'></div><div class='pixels' 
			id='pixel-485'></div><div class='pixels' 
			id='pixel-486'></div><div class='pixels' 
			id='pixel-487'></div><div class='pixels' 
			id='pixel-488'></div><div class='pixels' 
			id='pixel-489'></div><div class='pixels' 
			id='pixel-490'></div><div class='pixels' 
			id='pixel-491'></div><div class='pixels' 
			id='pixel-492'></div><div class='pixels' 
			id='pixel-493'></div><div class='pixels' 
			id='pixel-494'></div><div class='pixels' 
			id='pixel-495'></div><div class='pixels' 
			id='pixel-496'></div><div class='pixels' 
			id='pixel-497'></div><div class='pixels' 
			id='pixel-498'></div><div class='pixels' 
			id='pixel-499'></div><div class='pixels' 
			id='pixel-500'>
				<a href="#" class="event-links">
					<i class='material-icons event-two'>language</i>
				</a>
			</div><div class='pixels' 
			id='pixel-501'></div><div class='pixels' 
			id='pixel-502'></div><div class='pixels' 
			id='pixel-503'></div><div class='pixels' 
			id='pixel-504'></div><div class='pixels' 
			id='pixel-505'></div><div class='pixels' 
			id='pixel-506'></div><div class='pixels' 
			id='pixel-507'></div><div class='pixels' 
			id='pixel-508'></div><div class='pixels' 
			id='pixel-509'></div><div class='pixels' 
			id='pixel-510'></div><div class='pixels' 
			id='pixel-511'></div><div class='pixels' 
			id='pixel-512'></div><div class='pixels' 
			id='pixel-513'></div><div class='pixels' 
			id='pixel-514'></div><div class='pixels' 
			id='pixel-515'></div><div class='pixels' 
			id='pixel-516'></div><div class='pixels' 
			id='pixel-517'></div><div class='pixels' 
			id='pixel-518'></div><div class='pixels' 
			id='pixel-519'></div><div class='pixels' 
			id='pixel-520'></div><div class='pixels' 
			id='pixel-521'></div><div class='pixels' 
			id='pixel-522'></div><div class='pixels' 
			id='pixel-523'></div><div class='pixels' 
			id='pixel-524'></div><div class='pixels' 
			id='pixel-525'></div><div class='pixels' 
			id='pixel-526'></div><div class='pixels' 
			id='pixel-527'></div><div class='pixels' 
			id='pixel-528'></div><div class='pixels' 
			id='pixel-529'></div><div class='pixels' 
			id='pixel-530'></div><div class='pixels' 
			id='pixel-531'></div><div class='pixels' 
			id='pixel-532'></div><div class='pixels' 
			id='pixel-533'></div><div class='pixels' 
			id='pixel-534'></div><div class='pixels' 
			id='pixel-535'></div><div class='pixels' 
			id='pixel-536'></div><div class='pixels' 
			id='pixel-537'></div><div class='pixels' 
			id='pixel-538'></div><div class='pixels' 
			id='pixel-539'></div><div class='pixels' 
			id='pixel-540'></div><div class='pixels' 
			id='pixel-541'></div><div class='pixels' 
			id='pixel-542'></div><div class='pixels' 
			id='pixel-543'></div><div class='pixels' 
			id='pixel-544'></div><div class='pixels' 
			id='pixel-545'></div><div class='pixels' 
			id='pixel-546'></div><div class='pixels' 
			id='pixel-547'></div><div class='pixels' 
			id='pixel-548'></div><div class='pixels' 
			id='pixel-549'></div><div class='pixels' 
			id='pixel-550'></div><div class='pixels' 
			id='pixel-551'></div><div class='pixels' 
			id='pixel-552'></div><div class='pixels' 
			id='pixel-553'></div><div class='pixels' 
			id='pixel-554'></div><div class='pixels' 
			id='pixel-555'></div><div class='pixels' 
			id='pixel-556'></div><div class='pixels' 
			id='pixel-557'></div><div class='pixels' 
			id='pixel-558'></div><div class='pixels' 
			id='pixel-559'></div><div class='pixels' 
			id='pixel-560'></div><div class='pixels' 
			id='pixel-561'></div><div class='pixels' 
			id='pixel-562'></div><div class='pixels' 
			id='pixel-563'></div><div class='pixels' 
			id='pixel-564'></div><div class='pixels' 
			id='pixel-565'></div><div class='pixels' 
			id='pixel-566'></div><div class='pixels' 
			id='pixel-567'></div><div class='pixels' 
			id='pixel-568'></div><div class='pixels' 
			id='pixel-569'></div><div class='pixels' 
			id='pixel-570'></div><div class='pixels' 
			id='pixel-571'></div><div class='pixels' 
			id='pixel-572'></div><div class='pixels' 
			id='pixel-573'></div><div class='pixels' 
			id='pixel-574'></div><div class='pixels' 
			id='pixel-575'></div><div class='pixels' 
			id='pixel-576'></div><div class='pixels' 
			id='pixel-577'></div><div class='pixels' 
			id='pixel-578'></div><div class='pixels' 
			id='pixel-579'></div><div class='pixels' 
			id='pixel-580'></div><div class='pixels' 
			id='pixel-581'></div><div class='pixels' 
			id='pixel-582'></div><div class='pixels' 
			id='pixel-583'></div><div class='pixels' 
			id='pixel-584'></div><div class='pixels' 
			id='pixel-585'></div><div class='pixels' 
			id='pixel-586'></div><div class='pixels' 
			id='pixel-587'></div><div class='pixels' 
			id='pixel-588'></div><div class='pixels' 
			id='pixel-589'></div><div class='pixels' 
			id='pixel-590'></div><div class='pixels' 
			id='pixel-591'></div><div class='pixels' 
			id='pixel-592'></div><div class='pixels' 
			id='pixel-593'></div><div class='pixels' 
			id='pixel-594'></div><div class='pixels' 
			id='pixel-595'></div><div class='pixels' 
			id='pixel-596'></div><div class='pixels' 
			id='pixel-597'></div><div class='pixels' 
			id='pixel-598'></div><div class='pixels' 
			id='pixel-599'></div><div class='pixels' 
			id='pixel-600'></div><div class='pixels' 
			id='pixel-601'></div><div class='pixels' 
			id='pixel-602'></div><div class='pixels' 
			id='pixel-603'></div><div class='pixels' 
			id='pixel-604'></div><div class='pixels' 
			id='pixel-605'></div><div class='pixels' 
			id='pixel-606'></div><div class='pixels' 
			id='pixel-607'></div><div class='pixels' 
			id='pixel-608'></div><div class='pixels' 
			id='pixel-609'></div><div class='pixels' 
			id='pixel-610'></div><div class='pixels' 
			id='pixel-611'></div><div class='pixels' 
			id='pixel-612'></div><div class='pixels' 
			id='pixel-613'></div><div class='pixels' 
			id='pixel-614'></div><div class='pixels' 
			id='pixel-615'></div><div class='pixels' 
			id='pixel-616'></div><div class='pixels' 
			id='pixel-617'></div><div class='pixels' 
			id='pixel-618'></div><div class='pixels' 
			id='pixel-619'></div><div class='pixels' 
			id='pixel-620'></div><div class='pixels' 
			id='pixel-621'></div><div class='pixels' 
			id='pixel-622'></div><div class='pixels' 
			id='pixel-623'></div><div class='pixels' 
			id='pixel-624'></div><div class='pixels' 
			id='pixel-625'></div><div class='pixels' 
			id='pixel-626'></div><div class='pixels' 
			id='pixel-627'></div><div class='pixels' 
			id='pixel-628'></div><div class='pixels' 
			id='pixel-629'></div><div class='pixels' 
			id='pixel-630'></div><div class='pixels' 
			id='pixel-631'></div><div class='pixels' 
			id='pixel-632'></div><div class='pixels' 
			id='pixel-633'></div><div class='pixels' 
			id='pixel-634'></div><div class='pixels' 
			id='pixel-635'></div><div class='pixels' 
			id='pixel-636'></div><div class='pixels' 
			id='pixel-637'></div><div class='pixels' 
			id='pixel-638'></div><div class='pixels' 
			id='pixel-639'></div><div class='pixels' 
			id='pixel-640'></div><div class='pixels' 
			id='pixel-641'></div><div class='pixels' 
			id='pixel-642'></div><div class='pixels' 
			id='pixel-643'></div><div class='pixels' 
			id='pixel-644'></div><div class='pixels' 
			id='pixel-645'></div><div class='pixels' 
			id='pixel-646'></div><div class='pixels' 
			id='pixel-647'></div><div class='pixels' 
			id='pixel-648'></div><div class='pixels' 
			id='pixel-649'></div><div class='pixels' 
			id='pixel-650'></div><div class='pixels' 
			id='pixel-651'></div><div class='pixels' 
			id='pixel-652'></div><div class='pixels' 
			id='pixel-653'></div><div class='pixels' 
			id='pixel-654'></div><div class='pixels' 
			id='pixel-655'></div><div class='pixels' 
			id='pixel-656'></div><div class='pixels' 
			id='pixel-657'></div><div class='pixels' 
			id='pixel-658'></div><div class='pixels' 
			id='pixel-659'></div><div class='pixels' 
			id='pixel-660'></div><div class='pixels' 
			id='pixel-661'></div><div class='pixels' 
			id='pixel-662'></div><div class='pixels' 
			id='pixel-663'></div><div class='pixels' 
			id='pixel-664'></div><div class='pixels' 
			id='pixel-665'></div><div class='pixels' 
			id='pixel-666'></div><div class='pixels' 
			id='pixel-667'></div><div class='pixels' 
			id='pixel-668'></div><div class='pixels' 
			id='pixel-669'></div><div class='pixels' 
			id='pixel-670'></div><div class='pixels' 
			id='pixel-671'></div><div class='pixels' 
			id='pixel-672'></div><div class='pixels' 
			id='pixel-673'></div><div class='pixels' 
			id='pixel-674'></div><div class='pixels' 
			id='pixel-675'></div><div class='pixels' 
			id='pixel-676'></div><div class='pixels' 
			id='pixel-677'></div><div class='pixels' 
			id='pixel-678'></div><div class='pixels' 
			id='pixel-679'></div><div class='pixels' 
			id='pixel-680'></div><div class='pixels' 
			id='pixel-681'></div><div class='pixels' 
			id='pixel-682'></div><div class='pixels' 
			id='pixel-683'></div><div class='pixels' 
			id='pixel-684'></div><div class='pixels' 
			id='pixel-685'></div><div class='pixels' 
			id='pixel-686'></div><div class='pixels' 
			id='pixel-687'></div><div class='pixels' 
			id='pixel-688'></div><div class='pixels' 
			id='pixel-689'></div><div class='pixels' 
			id='pixel-690'></div><div class='pixels' 
			id='pixel-691'></div><div class='pixels' 
			id='pixel-692'></div><div class='pixels' 
			id='pixel-693'></div><div class='pixels' 
			id='pixel-694'></div><div class='pixels' 
			id='pixel-695'></div><div class='pixels' 
			id='pixel-696'></div><div class='pixels' 
			id='pixel-697'></div><div class='pixels' 
			id='pixel-698'></div><div class='pixels' 
			id='pixel-699'></div><div class='pixels' 
			id='pixel-700'></div><div class='pixels' 
			id='pixel-701'></div><div class='pixels' 
			id='pixel-702'></div><div class='pixels' 
			id='pixel-703'></div><div class='pixels' 
			id='pixel-704'></div><div class='pixels' 
			id='pixel-705'></div><div class='pixels' 
			id='pixel-706'></div><div class='pixels' 
			id='pixel-707'></div><div class='pixels' 
			id='pixel-708'></div><div class='pixels' 
			id='pixel-709'></div><div class='pixels' 
			id='pixel-710'></div><div class='pixels' 
			id='pixel-711'></div><div class='pixels' 
			id='pixel-712'></div><div class='pixels' 
			id='pixel-713'></div><div class='pixels' 
			id='pixel-714'></div><div class='pixels' 
			id='pixel-715'></div><div class='pixels' 
			id='pixel-716'></div><div class='pixels' 
			id='pixel-717'></div><div class='pixels' 
			id='pixel-718'></div><div class='pixels' 
			id='pixel-719'></div><div class='pixels' 
			id='pixel-720'></div><div class='pixels' 
			id='pixel-721'></div><div class='pixels' 
			id='pixel-722'></div><div class='pixels' 
			id='pixel-723'></div><div class='pixels' 
			id='pixel-724'></div><div class='pixels' 
			id='pixel-725'></div><div class='pixels' 
			id='pixel-726'></div><div class='pixels' 
			id='pixel-727'></div><div class='pixels' 
			id='pixel-728'></div><div class='pixels' 
			id='pixel-729'></div><div class='pixels' 
			id='pixel-730'></div><div class='pixels' 
			id='pixel-731'></div><div class='pixels' 
			id='pixel-732'></div><div class='pixels' 
			id='pixel-733'></div><div class='pixels' 
			id='pixel-734'></div><div class='pixels' 
			id='pixel-735'></div><div class='pixels' 
			id='pixel-736'></div><div class='pixels' 
			id='pixel-737'></div><div class='pixels' 
			id='pixel-738'></div><div class='pixels' 
			id='pixel-739'></div><div class='pixels' 
			id='pixel-740'></div><div class='pixels' 
			id='pixel-741'></div><div class='pixels' 
			id='pixel-742'></div><div class='pixels' 
			id='pixel-743'></div><div class='pixels' 
			id='pixel-744'></div><div class='pixels' 
			id='pixel-745'></div><div class='pixels' 
			id='pixel-746'></div><div class='pixels' 
			id='pixel-747'></div><div class='pixels' 
			id='pixel-748'></div><div class='pixels' 
			id='pixel-749'></div><div class='pixels' 
			id='pixel-750'></div><div class='pixels' 
			id='pixel-751'></div><div class='pixels' 
			id='pixel-752'></div><div class='pixels' 
			id='pixel-753'></div><div class='pixels' 
			id='pixel-754'></div><div class='pixels' 
			id='pixel-755'></div><div class='pixels' 
			id='pixel-756'></div><div class='pixels' 
			id='pixel-757'></div><div class='pixels' 
			id='pixel-758'></div><div class='pixels' 
			id='pixel-759'></div><div class='pixels' 
			id='pixel-760'></div><div class='pixels' 
			id='pixel-761'></div><div class='pixels' 
			id='pixel-762'></div><div class='pixels' 
			id='pixel-763'></div><div class='pixels' 
			id='pixel-764'></div><div class='pixels' 
			id='pixel-765'></div><div class='pixels' 
			id='pixel-766'></div><div class='pixels' 
			id='pixel-767'></div><div class='pixels' 
			id='pixel-768'></div><div class='pixels' 
			id='pixel-769'></div><div class='pixels' 
			id='pixel-770'></div><div class='pixels' 
			id='pixel-771'></div><div class='pixels' 
			id='pixel-772'></div><div class='pixels' 
			id='pixel-773'></div><div class='pixels' 
			id='pixel-774'></div><div class='pixels' 
			id='pixel-775'></div><div class='pixels' 
			id='pixel-776'></div><div class='pixels' 
			id='pixel-777'></div><div class='pixels' 
			id='pixel-778'></div><div class='pixels' 
			id='pixel-779'></div><div class='pixels' 
			id='pixel-780'></div><div class='pixels' 
			id='pixel-781'></div><div class='pixels' 
			id='pixel-782'></div><div class='pixels' 
			id='pixel-783'></div><div class='pixels' 
			id='pixel-784'></div><div class='pixels' 
			id='pixel-785'></div><div class='pixels' 
			id='pixel-786'></div><div class='pixels' 
			id='pixel-787'></div><div class='pixels' 
			id='pixel-788'></div><div class='pixels' 
			id='pixel-789'></div><div class='pixels' 
			id='pixel-790'></div><div class='pixels' 
			id='pixel-791'></div><div class='pixels' 
			id='pixel-792'></div><div class='pixels' 
			id='pixel-793'></div><div class='pixels' 
			id='pixel-794'></div><div class='pixels' 
			id='pixel-795'></div><div class='pixels' 
			id='pixel-796'></div><div class='pixels' 
			id='pixel-797'></div><div class='pixels' 
			id='pixel-798'></div><div class='pixels' 
			id='pixel-799'></div><div class='pixels' 
			id='pixel-800'></div><div class='pixels' 
			id='pixel-801'></div><div class='pixels' 
			id='pixel-802'></div><div class='pixels' 
			id='pixel-803'></div><div class='pixels' 
			id='pixel-804'></div><div class='pixels' 
			id='pixel-805'></div><div class='pixels' 
			id='pixel-806'></div><div class='pixels' 
			id='pixel-807'></div><div class='pixels' 
			id='pixel-808'></div><div class='pixels' 
			id='pixel-809'></div><div class='pixels' 
			id='pixel-810'></div><div class='pixels' 
			id='pixel-811'></div><div class='pixels' 
			id='pixel-812'></div><div class='pixels' 
			id='pixel-813'></div><div class='pixels' 
			id='pixel-814'></div><div class='pixels' 
			id='pixel-815'></div><div class='pixels' 
			id='pixel-816'></div><div class='pixels' 
			id='pixel-817'></div><div class='pixels' 
			id='pixel-818'></div><div class='pixels' 
			id='pixel-819'></div><div class='pixels' 
			id='pixel-820'></div><div class='pixels' 
			id='pixel-821'></div><div class='pixels' 
			id='pixel-822'></div><div class='pixels' 
			id='pixel-823'></div><div class='pixels' 
			id='pixel-824'></div><div class='pixels' 
			id='pixel-825'></div><div class='pixels' 
			id='pixel-826'></div><div class='pixels' 
			id='pixel-827'></div><div class='pixels' 
			id='pixel-828'></div><div class='pixels' 
			id='pixel-829'></div><div class='pixels' 
			id='pixel-830'></div><div class='pixels' 
			id='pixel-831'></div><div class='pixels' 
			id='pixel-832'></div><div class='pixels' 
			id='pixel-833'></div><div class='pixels' 
			id='pixel-834'></div><div class='pixels' 
			id='pixel-835'></div><div class='pixels' 
			id='pixel-836'></div><div class='pixels' 
			id='pixel-837'></div><div class='pixels' 
			id='pixel-838'></div><div class='pixels' 
			id='pixel-839'></div><div class='pixels' 
			id='pixel-840'></div><div class='pixels' 
			id='pixel-841'></div><div class='pixels' 
			id='pixel-842'></div><div class='pixels' 
			id='pixel-843'></div><div class='pixels' 
			id='pixel-844'></div><div class='pixels' 
			id='pixel-845'></div><div class='pixels' 
			id='pixel-846'></div><div class='pixels' 
			id='pixel-847'></div><div class='pixels' 
			id='pixel-848'></div><div class='pixels' 
			id='pixel-849'></div><div class='pixels' 
			id='pixel-850'></div><div class='pixels' 
			id='pixel-851'></div><div class='pixels' 
			id='pixel-852'></div><div class='pixels' 
			id='pixel-853'></div><div class='pixels' 
			id='pixel-854'></div><div class='pixels' 
			id='pixel-855'></div><div class='pixels' 
			id='pixel-856'></div><div class='pixels' 
			id='pixel-857'></div><div class='pixels' 
			id='pixel-858'></div><div class='pixels' 
			id='pixel-859'></div><div class='pixels' 
			id='pixel-860'></div><div class='pixels' 
			id='pixel-861'></div><div class='pixels' 
			id='pixel-862'></div><div class='pixels' 
			id='pixel-863'></div><div class='pixels' 
			id='pixel-864'></div><div class='pixels' 
			id='pixel-865'></div><div class='pixels' 
			id='pixel-866'></div><div class='pixels' 
			id='pixel-867'></div><div class='pixels' 
			id='pixel-868'></div><div class='pixels' 
			id='pixel-869'></div><div class='pixels' 
			id='pixel-870'></div><div class='pixels' 
			id='pixel-871'></div><div class='pixels' 
			id='pixel-872'></div><div class='pixels' 
			id='pixel-873'></div><div class='pixels' 
			id='pixel-874'></div><div class='pixels' 
			id='pixel-875'></div><div class='pixels' 
			id='pixel-876'></div><div class='pixels' 
			id='pixel-877'></div><div class='pixels' 
			id='pixel-878'></div><div class='pixels' 
			id='pixel-879'></div><div class='pixels' 
			id='pixel-880'></div><div class='pixels' 
			id='pixel-881'></div><div class='pixels' 
			id='pixel-882'></div><div class='pixels' 
			id='pixel-883'></div><div class='pixels' 
			id='pixel-884'></div><div class='pixels' 
			id='pixel-885'></div><div class='pixels' 
			id='pixel-886'></div><div class='pixels' 
			id='pixel-887'></div><div class='pixels' 
			id='pixel-888'></div><div class='pixels' 
			id='pixel-889'></div><div class='pixels' 
			id='pixel-890'></div><div class='pixels' 
			id='pixel-891'></div><div class='pixels' 
			id='pixel-892'></div><div class='pixels' 
			id='pixel-893'></div><div class='pixels' 
			id='pixel-894'></div><div class='pixels' 
			id='pixel-895'></div><div class='pixels' 
			id='pixel-896'></div><div class='pixels' 
			id='pixel-897'></div><div class='pixels' 
			id='pixel-898'></div><div class='pixels' 
			id='pixel-899'></div><div class='pixels' 
			id='pixel-900'></div><div class='pixels' 
			id='pixel-901'></div><div class='pixels' 
			id='pixel-902'></div><div class='pixels' 
			id='pixel-903'></div><div class='pixels' 
			id='pixel-904'></div><div class='pixels' 
			id='pixel-905'></div><div class='pixels' 
			id='pixel-906'></div><div class='pixels' 
			id='pixel-907'></div><div class='pixels' 
			id='pixel-908'></div><div class='pixels' 
			id='pixel-909'></div><div class='pixels' 
			id='pixel-910'></div><div class='pixels' 
			id='pixel-911'></div><div class='pixels' 
			id='pixel-912'></div><div class='pixels' 
			id='pixel-913'></div><div class='pixels' 
			id='pixel-914'></div><div class='pixels' 
			id='pixel-915'></div><div class='pixels' 
			id='pixel-916'></div><div class='pixels' 
			id='pixel-917'></div><div class='pixels' 
			id='pixel-918'></div><div class='pixels' 
			id='pixel-919'></div><div class='pixels' 
			id='pixel-920'></div>

		</div>

	</body>
	<script src="/scripts/snake.js"></script>

</html>
