<!DOCTYPE html>

	<head>
		<title>Login | Interrupt '19</title>
		<meta charset="UTF-8">
		<meta name="description" content="Official Website for SVCE's Interrupt 2k19!">
		<meta name="keywords" content="svce,symposium,cse,interrupt,2019,2k19">
		<meta name="author" content="Arjun Aravind">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/styles/css/login/login.css" rel="stylesheet">
		<link href="/styles/css/login/mobile-login.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="icon" href="/resources/images/favicon.png">
		<link rel="apple-touch-icon" href="/resources/images/favicon.png">
	</head>

	<body>

		<div class="tilt-screen">
			<p><i class="material-icons" style="font-size: 75px;">stay_primary_landscape</i><br>This website is best viewed in landscape mode! Please tilt your phone!</p>
		</div>

		<div class="pacman"></div>
		<div class="pacman mrs-pacman"></div>
		<div class="pacman pacman-jr"></div>
		<div class="pacman pacman-mrs-jr"></div>

		<h2>Login</h2>

		<form action="" method="POST" id="tetris">
			<input type="text" name="student[email]" placeholder="Your E-Mail">
			<input type="password" name="student[password]" placeholder="Your Password">
			<button id="login" type="submit">Login</button>
			<a href="/register">Register<span></span><i class="material-icons">arrow_right_alt</i></a>			
		</form>

		<span></span>

		<a href="/">Home<span></span><i class="material-icons">arrow_right_alt</i></a>
		<a href="/events">Events<span></span><i class="material-icons">arrow_right_alt</i></a>
		<a href="/team">Sponsors and Team<span></span><i class="material-icons">arrow_right_alt</i></a>

	    <script>

        document.querySelector('#login').addEventListener("click", (event) => {
            
            event.preventDefault();

            var inputFieldIsNotNull = true;

            document.querySelectorAll('input').forEach((element) => {
              if (element.value==="") inputFieldIsNull = true;
            });

            if(inputFieldIsNotNull) document.querySelector('#tetris').submit();

        });

    </script>

	</body>

</html>
