<!DOCTYPE html>

	<head>
		<title>Register | Interrupt '19</title>
		<meta charset="UTF-8">
		<meta name="description" content="Official Website for SVCE's Interrupt 2k19!">
		<meta name="keywords" content="svce,symposium,cse,interrupt,2019,2k19">
		<meta name="author" content="Arjun Aravind">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/styles/css/registration/register.css" rel="stylesheet">
		<link href="/styles/css/registration/mobile-register.css" rel="stylesheet">
	</head>

	<body>

		<div class="tilt-screen">
			<p><i class="material-icons" style="font-size: 75px;">stay_primary_landscape</i><br>This website is best viewed in landscape mode! Please tilt your phone!</p>
		</div>

		<h2>Registration</h2>

		<form action="" method="POST">

			<input type="text" name="student[name]" class="inline" placeholder="Full Name" required>
			<input type="number" name="student[number]" class="inline" placeholder="Mobile Number" required><br>
			<input type="text" name="student[college]" class="inline" placeholder="College" required>
			<input type="email" name="student[email]" class="inline" placeholder="E-Mail" required><br>
			<input type="password" name="student[password]" class="inline" placeholder="Password" required>
			<input type="password" name="student[confirmpassword]" class="inline" placeholder="Confirm Password" required>

			<button type="submit">Submit!</button>
		</form>

		<form>
			<p class="text">Click on the that you'd like to register for! The that you have selected will light up. <span>X and Y are intra-college and can only be attended by SVCE students. </span></p>

			<p class="event inline">Interrupt Challenge</p>
			<p class="event inline">Code Con Thingy</p>
			<p class="event inline">Paper Presentation</p><br>
			<p class="event inline">Poster Presentation</p>
			<p class="event inline">Stack Market</p><br>
			<p class="event inline">Alt Tab Tech</p>
			<p class="event inline">Mind Spar</p>
			<p class="event inline">Now You C Me</p><br>
			<p class="event inline">Game Of Tags</p>
			<p class="event inline events">Win-code-ium Leviosa</p><br><br><br>

			<button type="submit">Submit!</button>

		</form>


		<script>

			document.querySelector('button').addEventListener("click",(event) => {
				event.preventDefault();

				inputTags = document.querySelectorAll('input');

				var vacant = false;

				inputTags.forEach((doc) => {
					if(doc.value==="") vacant=true; 
				});

				if(!vacant) {
					document.querySelector('form').submit();

					
				}


			});

		</script>

	</body>

</html>
