<!DOCTYPE html>

	<head>
		<title>Register | Interrupt '19</title>
		<meta charset="UTF-8">
		<meta name="description" content="Official Website for SVCE's Interrupt 2k19!">
		<meta name="keywords" content="svce,symposium,cse,interrupt,2019,2k19">
		<meta name="author" content="Arjun Aravind">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/styles/css/registration/register.css" rel="stylesheet">
		<link href="/styles/css/registration/mobile-register.css" rel="stylesheet">
	</head>

	<body>

		<div class="tilt-screen">
			<p><i class="material-icons" style="font-size: 75px;">stay_primary_landscape</i><br>This website is best viewed in landscape mode! Please tilt your phone!</p>
		</div>

		<h2>Registration</h2>

		<form action="/register" method="POST" id="flappy">

			{{#unless isAuthenticated}}
				{{> new_reg}}
			{{/unless}}
		</form>

		<form action="/events/add" method="POST" id="subway">
			{{#if isAuthenticated}}
				{{> event_reg}}
			{{/if}}
		</form>




		<script>

			document.querySelector('#register').addEventListener("click",(event) => {
				event.preventDefault();

				inputTags = document.querySelectorAll('input');

				var vacant = false;

				inputTags.forEach((doc) => {
					if(doc.value==="") vacant=true; 
				});

				if(!vacant) {
					document.querySelector('#flappy').submit();

				}

			});

			document.querySelector('#add').addEventListener("click",(event) => {

				var eventList = document.querySelectorAll('.event');


				eventList.forEach((name) => {
					name.
					//if(name.classList.toggle('selected')) 
				});

				if(false) {
					document.querySelector('#flappy').submit();

				}
			

			});


			document.querySelector

		</script>

	</body>

</html>
