<!DOCTYPE html>

	<head>
		<title>Sponsors | Interrupt '19</title>
		<meta charset="UTF-8">
		<meta name="description" content="Official Website for SVCE's Interrupt 2k19!">
		<meta name="keywords" content="svce,symposium,cse,interrupt,2019,2k19">
		<meta name="author" content="Arjun Aravind">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/styles/css/team/sponsor.css" rel="stylesheet">
		<link href="/styles/css/team/sponsor-mobile.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="icon" href="/resources/images/favicon.png">
		<link rel="apple-touch-icon" href="/resources/images/favicon.png">	
	</head>

	<body>

		<!--*************-->
		<!-- TILT SCREEN -->
		<!--*************-->	
		
		<div class="tilt-screen">
			<p><i class="material-icons" style="font-size: 75px;">stay_primary_landscape</i><br>This website is best viewed in landscape mode! Please tilt your phone!</p>
		</div>

		<div class="sponsors">
			<h2>Our Sponsors</h2>
			<p class="sponsor-txt">A huge shoutout to our sponsors without whom Interrupt 2k19 would not be possible!</p>

			<a href="https://kstinfotech.com" class="sponsor" style="animation-name: colorChange2;">
				<img src="/resources/images/team/sponsors/kst.jpg">
				<p>KST InfoTech</p>
			</a>
			<a href="https://www.geopits.com" class="sponsor" style="animation-name: colorChange4;">
				<img src="/resources/images/team/sponsors/geopits_black.jpg">
				<p>GeoPITS</p>
			</a>
			<a href="https://ramaniyam.com" class="sponsor" style="animation-name: colorChange4;">
				<img src="/resources/images/team/sponsors/ram.jpg">
				<p>Ramaniyam</p>
			</a>


		</div>

		<br><br><br>

		<div class="sponsors teams">
			<h2>Our Web Team</h2>
			<p class="sponsor-txt">The team behind this amazing website! Enduring sleepless nights and OD-less days, this team survived it all to construct this website from scratch HTML, CSS and JavaScript! <span>Click on our photos to know more about us!</span></p>

			<br>

			<a href="http://arjunaravind.in" class="sponsor team" style="animation-name: colorChange1;">
				<img src="/resources/images/team/arjun.jpg">
				<p>Arjun Aravind</p>
				<p class="post">Fourth-Year</p>
			</a>

			<a href="http://aravindbalakrishnan.com" class="sponsor team" style="animation-name: colorChange2;">
				<img src="/resources/images/team/aravind.jpg">
				<p>Aravind Balakrishnan</p>
				<p class="post">Fourth-Year</p>
			</a>

			<a href="https://linkedin.com/in/shravan-dheep-539798142" class="sponsor team" style="animation-name: colorChange3;">
				<img src="/resources/images/team/shravan.jpg">
				<p>Shravan Dheep</p>
				<p class="post">Fourth-Year</p>
			</a>

			<a href="https://www.linkedin.com/in/yuvaraj-jayavel/" class="sponsor team" style="animation-name: colorChange4;">
				<img src="/resources/images/team/yuvaraj.jpg">
				<p>Yuvaraj J</p>
				<p class="post">Third-Year</p>
			</a>

			<a href="https://www.linkedin.com/in/shriram-s-g-9a33717a/" class="sponsor team" style="animation-name: colorChange5;">
				<img src="/resources/images/team/shriram.jpg">
				<p>Shriram G</p>
				<p class="post">Third-Year</p>
			</a>

			<a href="https://www.linkedin.com/in/sreevishal/" class="sponsor team" style="animation-name: colorChange6;">
				<img src="/resources/images/team/sreevishal.jpg">
				<p>Sree Vishal S</p>
				<p class="post">Second-Year</p>
			</a>

			<a href="https://www.linkedin.com/in/humaid-abdullah-6475ab163/" class="sponsor team" style="animation-name: colorChange7;">
				<img src="/resources/images/team/humaid.jpg">
				<p>Humaid Abdullah</p>
				<p class="post">Second-Year</p>
			</a>
			
			<a href="#" class="sponsor team" style="animation-name: colorChange8;">
				<img src="/resources/images/team/arvind.jpg">
				<p>Aravind R</p>
				<p class="post">Second-Year</p>
			</a>


		</div>

		<br><br><br>

		<div class="sponsors teams">
			<h2>Our Organising Team</h2>
			<p class="sponsor-txt">And, of course, the team without which this whole event would not be possible! They've been absolutely ACE-ing the organising this time! <span>Click on our photos to know more about us!</span></p>

			<br>

			<a href="https://www.linkedin.com/in/sandhya-rao-528146157/" class="sponsor team" style="animation-name: colorChange1;">
				<img src="/resources/images/team/sandhya.jpg">
				<p>Sandhya Rao P</p>
				<p class="post">President, ACE</p>
			</a>

			<a href="#" class="sponsor team" style="animation-name: colorChange2;">
				<img src="/resources/images/team/sa.jpg">
				<p>Aditya Krrish</p>
				<p class="post">Vice President, ACE</p>
			</a>

			<a href="https://www.linkedin.com/in/subhiksha-devarajan-410005157/" class="sponsor team" style="animation-name: colorChange3;">
				<img src="/resources/images/team/subhiksha.jpg">
				<p>Subhiksha Dev</p>
				<p class="post">Vice President, ACE</p>
			</a>

			<a href="https://www.linkedin.com/in/sarjhana-raghu-b73791134/" class="sponsor team" style="animation-name: colorChange4;">
				<img src="/resources/images/team/sarjhana.jpg">
				<p>Sarjhana RB</p>
				<p class="post">Secretary, ACE</p>
			</a>

			<a href="https://www.linkedin.com/in/saiharshith-k-r-b55b4b171" class="sponsor team" style="animation-name: colorChange5;">
				<img src="/resources/images/team/saiharshith.jpg">
				<p>Sai Harshith</p>
				<p class="post">Joint Secretary, ACE</p>
			</a>

			<a href="https://www.linkedin.com/in/pavitra-mohandas-98802317b" class="sponsor team" style="animation-name: colorChange6;">
				<img src="/resources/images/team/pavithra.jpg">
				<p>Pavitra Mohandas</p>
				<p class="post">Treasurer, ACE</p>
			</a>

			<a href="https://www.linkedin.com/in/soorya-prakash-r-396714180/" class="sponsor team" style="animation-name: colorChange7;">
				<img src="/resources/images/team/sooryaprakash.jpg">
				<p>Soorya Prakash</p>
				<p class="post">Joint Treasurer, ACE</p>
			</a>



		</div>

	</body>

</html>
