<p class="text">Click on the that you'd like to register for! The that you have selected will light up. <span>The events marked with (*) are intra-college events, i.e, only SVCE students can participate in them. Registrations from other institutions for these events won't be entertained.</span></p>

<p class="event inline" id="event1">Interrupt Challenge</p>
<p class="event inline" id="event2">Code Con Thingy</p>
<p class="event inline" id="event3">Paper Presentation</p><br>
<p class="event inline" id="event4">Poster Presentation</p>
<p class="event inline" id="event5">Stack Market</p><br>
<p class="event inline" id="event6">Alt Tab Tech</p>
<p class="event inline" id="event7">Mind Spar</p>
<p class="event inline" id="event8">Now You C Me (*)</p><br>
<p class="event inline" id="event9">Game Of Tags (*)</p>
<p class="event inline events" id="event10">Win-code-ium Leviosa (*)</p><br><br><br>

<button id="add">Submit!</button>
