<p class="text">Click on the events that you'd like to register for! The events that you have selected will light up. <span>The events marked with (*) are intra-college events, i.e, only SVCE students can participate in them. Registrations from other institutions for these events won't be entertained.</span><br>[#] Workshop has limited seats and a registration fee of Rs. 250, so register soon!<br><span>Seat(s) remaining : {{count}}</span></p>

<p class="event inline" id="event1">Interrupt Challenge</p>
<p class="event inline" id="event2">Code Connoisseur</p>
<p class="event inline" id="event3">Paper Presentation</p><br>
<p class="event inline" id="event4">Poster Presentation</p>
<p class="event inline" id="event5">Stack Market</p>
<p class="event inline" id="event6">Alt Tab Tech</p><br>
<p class="event inline" id="event7">Mind Spar</p>
<p class="event inline" id="event8">Now You C Me (*)</p>
<p class="event inline" id="event9">Game Of Tags (*)</p>
<p class="event inline" id="event10">Win-code-ium Leviosa (*)</p>
<p class="event inline" id="event11">Intro To ML workshop (#)</p><br>


{{#if button}}
    <button id="add">Update!</button>
{{else}}
    <button id="add">Submit!</button>
{{/if}}
