<p class="text">Click on the that you'd like to register for! The that you have selected will light up. <span>X and Y are intra-college and can only be attended by SVCE students. </span></p>

<p class="event inline">Interrupt Challenge</p>
<p class="event inline">Code Con Thingy</p>
<p class="event inline">Paper Presentation</p><br>
<p class="event inline">Poster Presentation</p>
<p class="event inline">Stack Market</p><br>
<p class="event inline">Alt Tab Tech</p>
<p class="event inline">Mind Spar</p>
<p class="event inline">Now You C Me</p><br>
<p class="event inline">Game Of Tags</p>
<p class="event inline events">Win-code-ium Leviosa</p><br><br><br>

<button id="add">Submit!</button>
