<input type="text" name="student[name]" class="inline" placeholder="Full Name" required>
<input type="number" name="student[number]" class="inline" placeholder="Mobile Number" required><br>
<input type="email" name="student[email]" class="inline" placeholder="E-Mail" required>
<input type="number" name="student[year]" class="inline" placeholder="Year" required><br>
<input type="text" name="student[college]" class="inline" placeholder="College" required>
<input type="text" name="dept" class="inline" placeholder="Department"><br>
<input type="password" name="student[password]" class="inline" placeholder="Password" required>
<input type="password" name="student[confirmPassword]" class="inline" placeholder="Confirm Password" required>

<button id="register">Submit!</button>

{{#if message}}
    <p class="text login-text">{{message}}</p>
{{else}}
    <p class="text login-text">Have an account already? Click the link below to login to your account.</p>
{{/if}}
<a href="/login" class="links">Login<span></span><i class="material-icons">arrow_right_alt</i></a>

<br><br><br>

<a href="/" class="links">Home<span></span><i class="material-icons">arrow_right_alt</i></a>
<a href="/events" class="links">Events<span></span><i class="material-icons">arrow_right_alt</i></a>
<a href="/team" class="links">Sponsors & Team<span></span><i class="material-icons">arrow_right_alt</i></a>
