<input type="text" name="student[name]" class="inline" placeholder="Full Name" required>
<input type="number" name="student[number]" class="inline" placeholder="Mobile Number" required><br>
<input type="email" name="student[email]" class="inline" placeholder="E-Mail" required>
<input type="number" name="student[year]" class="inline" placeholder="Year" required><br>
<input type="text" name="student[college]" class="inline" placeholder="College" required>
<input type="password" name="student[password]" class="inline" placeholder="Password" required>
<input type="password" name="student[confirmPassword]" class="inline" placeholder="Confirm Password" required>

<button id="register">Submit!</button>

<p class="text">Have an account already? click on the link down below</p>
<a href="/login">Login</a>



