* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    height: 1px;
    min-height: 100vh;
    display: flex;
    background-image: url("https://d1f2m3p6x2t7p9.cloudfront.net/preview-155309-VSeK8VU1II-low.mp4");
    
  }
  body > * {
    margin: auto;
  }
  
  .container {
    position: relative;
    outline: 1px solid black;
    width: 1024px;
    height: 600px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
  }
  
  .bg-image {
    background-image: url("/resources/images/challenge/dark_house/bg0.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1024px 600px;
    background-attachment: fixed;
  }
  
  .img {
    width: 200px;
    height: 200px;
    position: relative;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  h1{
      position: absolute;
      top:1%;
      left:40%;
      font-size: 40px;
      box-shadow: 1px 1px 30px 10px red;
      color: red;
      background-color: black;
      border-radius: 30px;
      text-align: center;
  }
  #timer{
    position:absolute;
    top:10%;
    right:3%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    color: red;   
  }
  #queue{
    position:absolute;
    top:25%;
    right:3%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    color: red;
  }
  #score{
    position:absolute;
    bottom:10%;
    right:3%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    color: red;   
  }
  td{
    border:2px solid red;
    padding: 10px;
    background-color: black;
  }