<html lang="en">
<head>
    <title> I-Challenge | Interrupt '19</title>
		<meta charset="UTF-8">
		<meta name="description" content="Official Website for SVCE's Interrupt 2k19!">
		<meta name="keywords" content="svce,symposium,cse,interrupt,2019,2k19">
		<meta name="author" content="Arjun Aravind">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="icon" href="/resources/images/favicon.png">
		<link rel="apple-touch-icon" href="/resources/images/favicon.png">
</head>
<body>
    
</body>
</html>