<html lang="en">

<head>
    <title> I-Challenge | Interrupt '19</title>
    <meta charset="UTF-8">
    <meta name="description" content="Official Website for SVCE's Interrupt 2k19!">
    <meta name="keywords" content="svce,symposium,cse,interrupt,2019,2k19">
    <meta name="author" content="Arjun Aravind">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="/resources/images/favicon.png">
    <link rel="apple-touch-icon" href="/resources/images/favicon.png">
    <link rel="stylesheet" href="/styles/css/challenge/index.css">
</head>

<body>
	<div id="main-container">
        <h1 id="title" class="text-center">Interrupt Challenge</h1><!-- #title -->
        <!-- <h3 id="prompt" class="text-center">Vote for your favorite website</h3>#prompt -->
        <div class="container">
            <h4 id="description">For all the geeks who loved arcade games, we bring you our trademark event, Interrupt Challenge 2.0. Surplus with fun-filled yet tricky games, this online event will make you tap into your inner genius! In the final round, access your coder-side to win! Take part in our event and unlock not only levels, but nostalgia too! Ready, player one? Before you start, make sure you read the rules below.</h4>
            <div id="rules">
                <ul>
                    <h4 style="text-decoration: underline;">Rules: </h4>
                    <li>
                        <h5>A participant can log in only once. If you are in, complete the game.</h5>
                    </li>
                    <li>
                        <h5>Do not refresh any page while playing.</h5>
                    </li>
                    <li>
                        <h5>Make sure you have a good Internet connection. (Please be patient before every level as the effects may take time to load.)</h5>
                    </li>
                    <li>
                        <h5>Use Computers for a better experience (recommended).</h5>
                    </li>
                    <li>
                        <h5>Each level will be allotted with 100 points and your score will be calculated based on how many tries you take to complete the level. You better stay focused and fast because the clock is also ticking.</h5>
                    </li>
                </ul>
            </div><!-- #rules -->
            <div id="start-link-container">
                <a href="/challenge/hang_thug" id="start-link"><button class="btn">Start Now</button></a>
            </div><!-- .start-link-container -->
        </div><!-- #site-gallery.container -->
    </div><!-- #main-container -->
    <style>
    .container {
        font-family: 'Pixellari'
    }

    #description {
        margin-top: 50px;
    }

    #rules {
        margin-top: 50px;
    }
    #start-link-container {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    #start-link button {
        background: #E52521;
        font-size: 40px;
        color: #fff;
        border
    }
    </style>
</body>

</html>
