<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <button>
        Send Request
    </button>
    
    <script>
        document.querySelector('button').addEventListener('click', (event) => {
            event.preventDefault();

            var xhttp = new XMLHttpRequest();
               xhttp.onreadystatechange = () => {
                    if (this.readyState == 4 && this.status == 200) {
                        console.log("Working")
                   }
                 };

            xhttp.open("POST", "/events/add", true);
            xhttp.setRequestHeader("Content-type", "application/json; charset=utf-8");
            xhttp.withCredentials = true;
            xhttp.send(JSON.stringify({
                events : {
                    ev1 : true,
                    ev2 : true,
                    ev3 : false
                }
            }));
        })
    </script>

</body>
</html>