<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Interrupt 2k19</title>
</head>
<body>
    {{> auth_bar}}
    <h3>Welcome to the official interrupt home page</h3>

</body>
</html>