

<p id="p2" class='form-text'>Click on the names of the events that you would like to register for!  
    <span style='width:2%;'></span>
</p>


<span class='start-btn'>PRESENTATION NATION</span>
<span class='start-btn'>POSTER COASTER</span>	
<span class='start-btn'>MINI PROJECT - 2nd Years</span>
<span class='start-btn'>MINI PROJECT - 3rd Years</span>		
<span class='start-btn'>TECH DISCUSSION</span>
<span class='start-btn'>WEB DESIGN</span>	
<span class='start-btn'>DEBUGGING AND ASSEMBLY</span>
<span class='start-btn'>CODE </span>	
<span class='start-btn'>LEVEL -> LEVEL</span>			
<span class='start-btn'>INTERRUPT CHALLENGE</span>	
<span class='start-btn'>MAINSTREAM CODING</span>
<span class='start-btn'>SURPRISE EVENT</span>	

