<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Website Polling</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" integrity="sha256-zmfNZmXoNWBMemUOo1XUGFfc0ihGGLYdgtJS3KCr/l0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/css/poll/polling.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="/resources/images/favicon.png">
    <link rel="apple-touch-icon" href="/resources/images/favicon.png">	
</head>

<body>

	<div class="tilt-screen">
			<p><i class="material-icons" style="font-size: 75px;">stay_primary_landscape</i><br>This website is best viewed in landscape mode! Please tilt your phone!</p>
		</div>

    <div id="main-container">
        <h1 id="title" class="text-center">Interrupt 2k19</h1><!-- #title -->
        <h2 id="subtitle" class="text-center">Website Design Poll</h2><!-- #subtitle -->
        <h3 id="prompt" class="text-center">Vote for your favorite website</h3><!-- #prompt -->
        <div class="container" id="site-gallery">
            <div class="row">

                {{> poll_window teamname="Harini Shree and Monisha " teamId=1 viewSite="http://167.71.236.238/1/index.html" title="Team number : 1" value=1}}
                {{> poll_window teamname="Rasswanth S and Chitra N" teamId=2 viewSite="http://167.71.236.238/2/index.html" title="Team number : 2" value=2}}


                {{> poll_window teamname="Eswaran BV and Harish V" teamId=5 viewSite="http://167.71.236.238/5/index.html" title="Team number : 5" value=5}}
                {{> poll_window teamname="Bharath K and Gunashrie" teamId=6 viewSite="http://167.71.236.238/6/index.html" title="Team number : 6" value=6}}
                {{> poll_window teamname="Vishali P and Suriyakumari J" teamId=7 viewSite="http://167.71.236.238/6/index.html" title="Team number : 7" value=7}}
                
                {{> poll_window teamname="Yokesh S and Humaid Abdullah " teamId=9 viewSite="http://167.71.236.238/9/index.html" title="Team number : 9" value=8}}
                {{> poll_window teamname="Tirumala Babu and K Yogeswar" teamId=10 viewSite="http://167.71.236.238/10/index.html" title="Team number : 10" value=10}}
                {{> poll_window teamname="Subash T and Srikrishna K" teamId=11 viewSite="http://167.71.236.238/11/index.html" title="Team number : 11" value=11}}
                {{> poll_window teamname="Vedangnanaguru S and Vishnupriyan S" teamId=12 viewSite="http://167.71.236.238/12/index.html" title="Team number : 12" value=12}}
                {{> poll_window teamname="Aravind R and Aswin Joseph" teamId=13 viewSite="http://167.71.236.238/13/index.html" title="Team number : 13" value=13}}
                {{> poll_window teamname="Jayen Boopathy and Rahul Kalyaan" teamId=14 viewSite="http://167.71.236.238/14/index.html" title="Team number : 14" value=14}}
                {{> poll_window teamname="Sibi Vishnu and Sundhar K" teamId=15 viewSite="http://167.71.236.238/15/index.html" title="Team number : 15" value=15}}
                {{> poll_window teamname="Dhanush B Dev and Jayasurya B" teamId=16 viewSite="http://167.71.236.238/16/index.html" title="Team number : 16" value=16}}
                {{> poll_window teamname="N Guru HariHaraun and Dinesh Kumar Sai" teamId=18 viewSite="http://167.71.236.238/18/index.html" title="Team number : 18" value=18}}

                {{> poll_window teamname="Aadhavan V A and MS Jayesh" teamId=19 viewSite="http://167.71.236.238/19/index.html" title="Team number : 19" value=19}}
                {{> poll_window teamname="Kabilesh R and Jayesh S" teamId=20 viewSite="http://167.71.236.238/20/index.html" title="Team number : 20" value=20}}
                {{> poll_window teamname="Shriprakash T and Rahul" teamId=21 viewSite="http://167.71.236.238/21/index.html" title="Team number : 21" value=21}}
                {{> poll_window teamname="Mukkesh MDK and Layhir" teamId=22 viewSite="http://167.71.236.238/22/index.html" title="Team number : 22" value=22}}
                {{> poll_window teamname="VishnuPriya R and Sri Vishnu Vardhan D" teamId=23 viewSite="http://167.71.236.238/23/index.html" title="Team number : 23" value=23}}
                {{> poll_window teamname="Sujith and Srivatsan" teamId=26 viewSite="http://167.71.236.238/26/index.html" title="Team number : 26" value=26}}
               


            </div><!-- .row -->
        </div><!-- #site-gallery.container -->
    </div><!-- #main-container -->
    <script>
        
        document.querySelectorAll('.vote').forEach((button) => {
            
			button.addEventListener('click', (event) => {
				event.preventDefault();

                var xhttp = new XMLHttpRequest();

				xhttp.onreadystatechange = () => {
                    if(xhttp.readyState==4){
                        if(xhttp.status == 202) alert("You've voted! Thanks a lot!");
                        if(xhttp.status == 406) alert("You've already voted! You are allowed to vote only once.");

                        console.log(JSON.parse(xhttp.response).status);
                    }
                }
                    
				xhttp.open("POST", "/polling/vote", true);
				xhttp.setRequestHeader("Content-type", "application/json; charset=utf-8");
				xhttp.withCredentials = true;
				xhttp.send(JSON.stringify({
					vote : {
                        id : button.value
					}
				}));
                
        	});
		});

    </script>
</body>
</html>
