<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Website Polling</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" integrity="sha256-zmfNZmXoNWBMemUOo1XUGFfc0ihGGLYdgtJS3KCr/l0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/css/poll/polling.css">
</head>

<body>
    <div id="main-container">
        <h1 id="title" class="text-center">Interrupt 2k19</h1><!-- #title -->
        <h2 id="subtitle" class="text-center">Website Design Poll</h2><!-- #subtitle -->
        <h3 id="prompt" class="text-center">Vote for your favorite website</h3><!-- #prompt -->
        <div class="container" id="site-gallery">
            <div class="row">

<<<<<<< HEAD
                {{> poll_window teamname="shravan and arjun " viewSite="/polling/1" title="Team number : 1" value=1 location="Site_1/Screenshot.png"}}
                {{> poll_window teamname="Justice League" viewSite="/polling/2" title="Team number : 2" value=2 location="Site_2/Screenshot.png"}}
                {{> poll_window teamname="X-men" viewSite="/polling/3" title="" value=3 location="Site_3/Screenshot.png"}}
=======
                {{> poll_window teamname="Harini Shree and Monisha " viewSite="/polling/1" title="Team number : 1" value=1 location="Site_1/Screenshot.png"}}
                {{> poll_window teamname="Rasswanth S and Chitra N" viewSite="polling/2" title="Team number : 2" value=2 location="Site_2/Screenshot.png"}}
                {{> poll_window teamname="Mageshwaran and Rishi" viewSite="polling/3" title="Team number : 3" value=3 location="Site_3/Screenshot.png"}}
                {{> poll_window teamname="Pradeep and Muthu Valiappan" viewSite="polling/4" title="Team number : 4" value=4 location="Site_3/Screenshot.png"}}
                {{> poll_window teamname="Eswaran BV and Harish V" viewSite="polling/5" title="Team number : 5" value=5 location="Site_3/Screenshot.png"}}
                {{> poll_window teamname="Bharath K and Gunashrie" viewSite="polling/6" title="Team number : 6" value=6 location="Site_3/Screenshot.png"}}
                {{> poll_window teamname="Vishali P and Suriyakumari J" viewSite="polling/7" title="Team number : 7" value=7 location="Site_3/Screenshot.png"}}
                
                {{> poll_window teamname="Yokesh S and Humaid Abdullah " viewSite="polling/9" title="Team number : 9" value=8 location="Site_3/Screenshot.png"}}
                {{> poll_window teamname="Tirumala Babu and K Yogeswar" viewSite="polling/10" title="Team number : 10" value=10 location="Site_3/Screenshot.png"}}
                {{> poll_window teamname="Subash T and Srikrishna K" viewSite="polling/11" title="Team number : 11" value=11 location="Site_3/Screenshot.png"}}
                {{> poll_window teamname="Vedangnanaguru S and Vishnupriyan S" viewSite="polling/12" title="Team number : 12" value=12 location="Site_3/Screenshot.png"}}
                {{> poll_window teamname="Aravind R and Aswin Joseph" viewSite="polling/13" title="Team number : 13" value=13 location="Site_3/Screenshot.png"}}
                {{> poll_window teamname="Jayen Boopathy and Rahul Kalyaan" viewSite="polling/14" title="Team number : 14" value=14 location="Site_3/Screenshot.png"}}
                {{> poll_window teamname="Sibi Vishnu and Sundhar K" viewSite="polling/15" title="Team number : 15" value=15 location="Site_3/Screenshot.png"}}
                {{> poll_window teamname="Dhanush B Dev and Jayasurya B" viewSite="polling/16" title="Team number : 16" value=16 location="Site_3/Screenshot.png"}}
                
                {{> poll_window teamname="N Guru HariHaraun and Dinesh Kumar Sai" viewSite="polling/17" title="Team number : 17" value=18 location="Site_3/Screenshot.png"}}
                {{> poll_window teamname="Aadhavan V A and MS Jayesh" viewSite="polling/19" title="Team number : 19" value=19 location="Site_3/Screenshot.png"}}
                {{> poll_window teamname="Kabilesh R and Jayesh S" viewSite="polling/20" title="Team number : 20" value=20 location="Site_3/Screenshot.png"}}
                {{> poll_window teamname="Shriprakash T and Rahul" viewSite="polling/21" title="Team number : 21" value=21 location="Site_3/Screenshot.png"}}
                {{> poll_window teamname="Mukkesh MDK and Layhir" viewSite="polling/22" title="Team number : 22" value=22 location="Site_3/Screenshot.png"}}
                {{> poll_window teamname="VishnuPriya R and Sri Vishnu Vardhan D" viewSite="polling/23" title="Team number : 23" value=23 location="Site_3/Screenshot.png"}}
                {{> poll_window teamname="Kumaran S S and Ramnarayanan S" viewSite="polling/24" title="Team number : 24" value=24 location="Site_3/Screenshot.png"}}
                {{> poll_window teamname="Hareen S Shah" viewSite="polling/25" title="Team number : 25" value=25 location="Site_3/Screenshot.png"}}
                {{> poll_window teamname="Sujith and Srivatsan" viewSite="polling/26" title="Team number : 26" value=26 location="Site_3/Screenshot.png"}}
               

>>>>>>> e9d400575afcb3cd5964564144003796c50fcde1

            </div><!-- .row -->
        </div><!-- #site-gallery.container -->
    </div><!-- #main-container -->
    <script>
        
        document.querySelectorAll('.vote').forEach((button) => {
            
			button.addEventListener('click', (event) => {
				event.preventDefault();

                var xhttp = new XMLHttpRequest();

				xhttp.onreadystatechange = () => {
                    if(xhttp.readyState==4){
                        if(xhttp.status == 202) console.log("submitted");
                        if(xhttp.status == 406) console.log("Already voted");

                        console.log(JSON.parse(xhttp.response).status);
                    }
                }
                    
				xhttp.open("POST", "/polling/vote", true);
				xhttp.setRequestHeader("Content-type", "application/json; charset=utf-8");
				xhttp.withCredentials = true;
				xhttp.send(JSON.stringify({
					vote : {
                        id : button.value
					}
				}));
                
        	});
		});

    </script>
</body>
</html>