@media only screen and (min-width: 10px) and (max-width: 767px) and (orientation: landscape),
       only screen and (min-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

/************************/
/* CSS for the HEADERS. */
/************************/

h2 {
	margin: 6% 0% 3% 0%;

	font-size: 100%;
}

/*************************/
/* CSS for the SPONSORS. */
/*************************/

.sponsor-txt {
	width: 90%;
	margin: 0% 5% 4% 5%;
	font-size: 70%;
}

.sponsor {
	width: 21%;

	margin: 2% 0.75%;
}

.sponsor p {
	width: 90%;

	padding: 5% 0% 3% 0%;

	font-size: 95%;
	font-weight: 600;
}

/**********************/
/* CSS for the TEAMS. */
/**********************/

.team .post {
	padding: 0% 0% 5% 0%;
	font-size: 70%;
}

}

/* Media query for the Redmi Note series. */
@media only screen and (min-width: 393px) and (max-width: 786px) and (orientation: landscape) {

	.sponsor-txt {
		font-size: 130%;
	}

	.sponsor {
		width: 22%;
	}

	.sponsor p {
		font-size: 110%;
	}

}

/* Media query for the Nexus 7. */
@media only screen and (min-width: 600px) and (max-width: 960px) and (orientation: landscape) {

	h2 {
		font-size: 180%;
	}

	.sponsor-txt {
		font-size: 140%;
	}

	.sponsor {
		width: 22%;
	}

	.sponsor p {
		font-size: 120%;
	}

	.team .post {
		font-size: 90%;
	}

}

/* Media queries for the Samsung S8+. */
@media only screen and (min-width: 360px) and (max-width: 740px) and (orientation: landscape) {

	h2 {
		font-size: 150%;
	}

	.sponsor-txt {
		font-size: 125%;
	}

}

/* Media queries for the iPhone 5/6 series. */
@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {

	h2 {
		font-size: 110%;
	}

	.sponsor-txt {
		font-size: 75%;
	}

	.sponsor {
		width: 22%;
	}

	.sponsor p {
		font-size: 102%;
	}

	.team .post {
		font-size: 70%;
	}

}

/* Media queries for the iPhone 5/6 series. */
@media only screen and (min-width: 414px) and (max-width: 736px) and (orientation: landscape) {

	h2 {
		font-size: 95%;
	}

	.sponsor-txt {
		font-size: 70%;
	}

	.sponsor {
		width: 22%;
	}

	.sponsor p {
		font-size: 102%;
	}

	.team .post {
		font-size: 70%;
	}

}

/* Media queries for the Galaxy series. */
@media only screen and (min-width: 360px) and (max-width: 640px) and (orientation: landscape) {

	.sponsor-txt {
		font-size: 110%;
	}

	.sponsor {
		width: 22%;
	}

	.sponsor p {
		font-size: 97%;
	}

}

/* The following media queries are for the iPad. */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

	h2 {
		font-size: 145%;
	}

	.sponsor-txt {
		font-size: 125%;
	}

	.sponsor p {
		font-size: 110%;
	}

	.team .post {
		font-size: 95%;
	}

}

/* The above media queries work for the Redmi Note series, Samsung S8+ and, hopefully, other series as well. */
