/********************/
/* EVENTS-INDEX.CSS */
/********************/

/* CSS for the BODY and HTML. */
body, html {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Barcade Brawl";
	src: url('../fonts/barcade.ttf');
}

@font-face {
	font-family: "BIT";
	src: url('../fonts/bit.otf');
}

/* CSS for the SNAKE-HEADER. */
#snake-header {
	display: block;
	position: fixed;
	width: 100%;

	top: 0;
	left: 0;

	text-align: center;
	font-family: "Barcade Brawl";
	font-size: 165%;
	color: white;
	z-index: 11;
}

/* CSS for the SNAKE-XENZIA PIXELS. */
.snake-xenzia {
	display: block;
	position: fixed;
	height: 100%;
	width: 100%;

	/* The following 2 props disenable spaces between pixels rows. */
	font-size: 0%; 
	line-height: 0;
	z-index: 10;

	background-color: black;
}

.snake-xenzia .pixels {
	display: inline-block;
	width: 2.5vw;
	height: 2.5vw;

	margin: 0;
	padding: 0;

	background-color: black;
}

.snake-xenzia .food {
	display: block;
	width: 1vw;
	height: 1vw;

	margin: 0 auto;
	vertical-align: middle;

	background-color: white;
}

.snake-xenzia .food-one {
	background-color: green;
}

.snake-xenzia .food-two {
	background-color: purple;
}

.snake-xenzia .food-three {
	background-color: yellow;
}

.snake-xenzia .food-four {
	background-color: blue;
}
