/********************/
/* EVENTS-INDEX.CSS */
/********************/

/* CSS for the BODY and HTML. */
body, html {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Barcade Brawl";
	src: url('../fonts/barcade.ttf');
}

@font-face {
	font-family: "BIT";
	src: url('../fonts/bit.otf');
}

/* CSS for the SNAKE-HEADERS. */
.snake-headers {
	display: block;
	position: fixed;
	width: 100%;

	top: 0;
	left: 0;

	text-align: center;
	font-family: "Barcade Brawl";
	font-size: 165%;
	color: white;

	z-index: 11;
}

#snake-score {
	display: none;
	top: 6%;

	font-size: 135%;
	color: yellow;
}

/* CSS for the SNAKE-POPUP BOX. */
#snake-popup {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;

	top: 0%;
	left: 0%;

	z-index: 12;
	overflow-y: scroll;

	background-image: url('../img/popupbackground.png');
	background-size: cover;
	background-repeat: no-repeat;

	visibility: hidden;
}

#snake-popup header {
	display: block;
	width: 100%;

	margin: 3% 0% 5% 0%;

	text-align: center;
	font-family: "Barcade Brawl";
	color: yellow;
	font-size: 160%;
}

#snake-popup button {
	display: block;
	width: 20%;

	margin: 1% auto;
	padding: 1%;

	border: none;
	border: 2px solid yellow;
	font-family: "Barcade Brawl";
	font-size: 120%;

	background-color: yellow;
	color: purple;
	cursor: pointer;
}

#snake-popup .event {
	display: block;
	width: 95%;

	margin: 5% auto;
}

#snake-popup .event header {
	width: 95%;

	margin: 2% auto;

	font-size: 140%;
	color: yellow;
	text-align: left;
}

#snake-popup .event p {
	width: 95%;

	margin: 1% auto;

	font-family: "BIT";
	font-size: 140%;
	text-align: left;
	color: white;
}

#snake-popup .event span {
	color: orange;
}

/* CSS for the SNAKE-XENZIA PIXELS. */
.snake-xenzia {
	display: block;
	position: fixed;
	height: 100%;
	width: 100%;

	/* The following 2 props disenable spaces between pixels rows. */
	font-size: 0%; 
	line-height: 0;
	z-index: 10;

	background-color: black;
}

.snake-xenzia .pixels {
	display: inline-block;
	width: 2.5vw;
	height: 2.5vw;

	margin: 0;
	padding: 0;

	background-color: black;
}

.snake-xenzia img {
	width: 100%;
}

.snake-xenzia .events {
	display: block;
	width: 1vw;
	height: 1vw;

	margin: 0 auto;
	vertical-align: middle;

	border-radius: 100px;
	background-color: white;
	transition: all 3s;
}

.snake-xenzia .events:hover {
	background-color: transparent;
}

.snake-xenzia .events-one {
	background-color: green;
}

.snake-xenzia .events-two {
	background-color: purple;
}

.snake-xenzia .events-three {
	background-color: yellow;
}

.snake-xenzia .events-four {
	background-color: blue;
}
