@media only screen and (max-width: 1000px) and (orientation: landscape) {

/***************************/
/* MOBILE-EVENTS-INDEX.CSS */
/***************************/

body, html {
	background-color: black;
}

/******************************/
/* CSS for the SNAKE-HEADERS. */
/******************************/
.snake-headers {
	font-size: 110%;
}

#snake-score {
	top: 10%;

	font-size: 90%;
}

/********************************/
/* CSS for the SNAKE-POPUP BOX. */
/********************************/
#snake-popup header {
	font-size: 130%;
}

#snake-popup button {
	width: 30%;

	margin: 1% auto;
	padding: 2%;

	font-size: 100%;
}

#snake-popup .event header {
	margin: 2% auto;

	font-size: 80%;
}

#snake-popup .event p {
	margin: 2% auto;

	font-size: 70%;
}

/****************************/
/* CSS for the RULES-POPUP. */
/****************************/

#rules-popup {
	width: 100%;
	height: 100%;

	top: 0%;
	left: 0%;
}

#rules-popup header {
	font-size: 135%;
}

#rules-popup button {
	width: 60%;
	
	padding: 2% 0.5%;
}

#rules-popup p {
	font-size: 78%;
}

/************************************/
/* CSS for the SNAKE-XENZIA PIXELS. */
/************************************/

.snake-xenzia {
	position: fixed;
	height: 100%;
	width: 100%;

	-webkit-overflow-scrolling: auto;

	top: 0;
	left: 0;

	/* The following 2 props disenable spaces between pixels rows. */
	font-size: 0%; 
	line-height: 0;
	z-index: 10;

	background-color: black;
}

.snake-xenzia .material-icons {
	font-size: 17px;
}

}
