<!DOCTYPE html>
<html>
    <head>
        <title>combine the parts</title>
        <div id="main">
            <div id="header">
                <h1>Combine the parts</h1>
            </div>
            <div id="body">
                <div id="mixer">
                    <table>
                        <tr>
                            <td><div style = "border:2px solid black;width:100px;height:100px;" id="box1"></div></td>
                            <td><div style = "border:2px solid black;width:100px;height:100px;" id="box2"></div></td>
                                <div style = "border:2px solid black;width:100px;height:100px;" id="result"></div></td>
                        </tr>
                      <button>hSBDhj</button>
                    </table>
                </div>
            </div>
            <div id="inventory"></div>
            <div id="question"></div>
        </div>
    </head>
</html>