@font-face {
        font-family: "Barcade Brawl";
        src: url('barcade.ttf');
    }

    @font-face {
        font-family: "Pixellari";
        src: url('pixellari.ttf');
    }

    body {
        background: #000;
        color: white;
    }

    #main-container {
        font-family: "Barcade Brawl";
    }

    #title {
        margin-top: 7%;
        font-size: calc(0.8vw + 40px);
        animation-name: flicker;
        animation-duration: 6s;
        animation-iteration-count: infinite;
    }

    #subtitle {
        margin-top: 25px;
        font-size: 3calc(0.8vw + 2px);
    }

    #prompt {
        font-size: calc(0.8vw + 20px);
        margin-top: 75px;
        margin-bottom: 25px;
    }

    #site-gallery {
        font-family: "Pixellari";
    }

    .site {
        background: #222;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .site-actions {
        display: flex;
        justify-content: space-between;
    }

    .site-link {
        border: 1px solid white;
        border-radius: .25rem;
        color: white;
    }

    .site-vote {
        background: #F85051;
        color: white;
        /*border*/
    }

    .site-link:hover {
        color: white;
    }

    .fas.fa-heart {
        display: none;
    }

    .site-vote:hover {
        color: white;
    }

    .site-vote:hover .far.fa-heart {
        display: none;
    }

    .site-vote:hover .fas.fa-heart {
        display: inline-block;
    }

    @media screen and (max-width: 768px) {
        #title {
            font-size: 2.5rem;
        }
    }

    @keyframes flicker {

        0% {
            color: white;
        }

        15% {
            color: white;
        }

        16% {
            color: red;
        }

        31% {
            color: red;
        }

        32% {
            color: yellow;
        }

        47% {
            color: yellow;
        }

        48% {
            color: blue;
        }

        63% {
            color: blue;
        }

        64% {
            color: orange;
        }

        81% {
            color: orange;
        }

        82% {
            color: purple;
        }

        100% {
            color: purple;
        }

    }